<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="createWarehousePopUp" th:id="createWarehousePopUp" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createWarehouseHeader">Add Medicine / Tool</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        th:attr="onclick='clickCreateItemNo(\'' + 'allAddWH' +  '\');'"></button>
            </div>
            <div class="modal-body">
                <div id="chooseDropdown">
                <ul class="nav bg-light nav-pills rounded nav-fill mb-3" id="ex-with-icons" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-pane-med" data-bs-toggle="tab" href="#create-med" role="tab"
                           aria-controls="ex-with-icons-tabs-1" aria-selected="true"
                           onclick="choose_add_type('med')"
                        ><i class="fas fa-medkit fa-fw me-2"></i>Medicine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-pane-tool" data-bs-toggle="tab" href="#create-tool" role="tab"
                           aria-controls="ex-with-icons-tabs-2" aria-selected="false"
                           onclick="choose_add_type('tool')"
                        ><i class="fas fa-wrench fa-fw me-2"></i>Tool</a>
                    </li>
                </ul>
                <select id="selectAddOption" class="form-select mb-3" aria-label="Default select example" onchange="choose_add_option()">
                    <option value=0 selected >Choose...</option>
                    <option value=1 >New Medicine</option>
                    <option value=3 >Stock In</option>
                </select>
                </div>

                <div class="tab-content" id="ex-with-icons-content">
                    <div id="tab-body-med" class="tab-pane fade show active" aria-labelledby="ex-with-icons-tab-1">
                        <div name="medicineForm" style="display: none">
                            <form th:action="@{warehouse/create/medicine}" method="POST"
                                  th:object="${newMedForm}" id="createMedicineForm">
                                <div id="createMedicinePane">
                                    <!--Med's Name-->
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text">Name</span>
                                        <input type="text" class="form-control" maxlength="30" th:field="*{name}" autocomplete="off" onkeyup="validFormNewMedicineByEachField(this)" onpaste="validFormNewMedicineByEachField(this)">
                                    </div>

                                    <!--Price-->
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text date">Price</span>
                                        <input type="number" class="form-control" th:field="*{price}" min="0" autocomplete="off"
                                               onkeyup="validFormNewMedicineByEachField(this)"
                                               onchange="validFormNewMedicineByEachField(this)"
                                               onpaste="validFormNewMedicineByEachField(this)">
                                    </div>

                                    <!--Pet's Dose & Unit-->
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text">Dose</span>
                                        <input type="text" class="form-control" maxlength="30" th:field="*{dose}" style="margin-right: 2px" autocomplete="off" onkeyup="validFormNewMedicineByEachField(this)" onpaste="validFormNewMedicineByEachField(this)">
                                        <span class="input-group-text">Unit</span>
                                        <input type="text" class="form-control" maxlength="15" th:field="*{unit}" autocomplete="off" onkeyup="validFormNewMedicineByEachField(this)" onpaste="validFormNewMedicineByEachField(this)">
                                    </div>

                                    <!--Description-->
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text date">Description</span>
                                        <input type="text" class="form-control" th:field="*{description}" autocomplete="off" onkeyup="validFormNewMedicineByEachField(this)" onpaste="validFormNewMedicineByEachField(this)">
                                    </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button th:attr="onclick='clickCreateItem(\'' +'Medicine' +  '\');'" class="btn btn-primary" type="button">Save</button>
                                            <button onclick="validSubmitNewMedicineForm('createMedicineForm', 'reset')" class="btn btn-secondary" type="reset">Clear</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="createMedicineConfirm" style="display: none" class="text-start">
                                    <p >Are you sure you want to add <b id="createMedicineName"></b> ?</p>
                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-primary" type="submit">Yes</button>
                                            <button th:attr="onclick='clickCreateItemNo(\'' + 'Medicine' +  '\');'" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div name="medicineForm" style="display: none">
                            <form th:action="@{warehouse/create/order}" method="POST"
                                  th:object="${newWarehouseMedForm}" id="createMedicineOrderForm">
                                <div id="createMedicineOrderPane">
                                <!--Warehouse Med-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">Medicine</span>
                                    <select class="form-select" aria-label="Select Medicine" th:field="*{medicine}" autocomplete="off" onchange="validFormNewWarehouseMedicineByEachField(this)">
                                        <option value="#" selected >Choose...</option>
                                        <option th:each="med : ${medicines}" th:value="${med.medID}" th:text="${med.getNameForShow}"/>
                                    </select>
                                </div>

                                <!--Quality In-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Qty.In</span>
                                    <input type="number" class="form-control" th:field="*{quantityIn}" autocomplete="off"
                                           onkeyup="validFormNewWarehouseMedicineByEachField(this)"
                                           onchange="validFormNewWarehouseMedicineByEachField(this)"
                                           onpaste="validFormNewWarehouseMedicineByEachField(this)">
                                </div>

                                <!--PaidTotal-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Paid Total</span>
                                    <input type="number" class="form-control" th:field="*{paidTotal}" autocomplete="off"
                                           onkeyup="validFormNewWarehouseMedicineByEachField(this)"
                                           onchange="validFormNewWarehouseMedicineByEachField(this)"
                                           onpaste="validFormNewWarehouseMedicineByEachField(this)">
                                </div>

                                <!--Description-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Exp. Date</span>
                                    <input type="date" class="form-control" th:field="*{expiredDate}" autocomplete="off" onkeyup="validFormNewWarehouseMedicineByEachField(this)" onchange="validFormNewWarehouseMedicineByEachField(this)" onpaste="validFormNewWarehouseMedicineByEachField(this)">
                                </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button th:attr="onclick='clickCreateItem(\'' +'MedicineOrder' +  '\');'" class="btn btn-primary" type="button">Save</button>
                                            <button onclick="validSubmitNewWarehouseMedicineForm('createMedicineOrderForm', 'reset')" class="btn btn-secondary" type="reset">Clear</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="createMedicineOrderConfirm" style="display: none" class="text-start">
                                    <p >Are you sure you want to add <b id="createMedicineOrderName"></b> ?</p>
                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-primary" type="submit">Yes</button>
                                            <button th:attr="onclick='clickCreateItemNo(\'' + 'MedicineOrder' +  '\');'" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div id="tab-body-tool" class="tab-pane fade" aria-labelledby="ex-with-icons-tab-2">
                        <div name="toolForm" style="display: none">
                            <form th:action="@{warehouse/create/tool}" method="POST"
                                  th:object="${newToolForm}" id="createToolForm">
                                <div id="createToolPane">
                                <!--Tool's Name-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">Name</span>
                                    <input type="text" class="form-control" th:field="*{name}" autocomplete="off" onkeyup="validFormNewToolByEachField(this)" onchange="validFormNewToolByEachField(this)" onpaste="validFormNewToolByEachField(this)">
                                </div>

                                <!--Price-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Price</span>
                                    <input type="number" class="form-control" th:field="*{price}" autocomplete="off"
                                           onkeyup="validFormNewToolByEachField(this)"
                                           onchange="validFormNewToolByEachField(this)"
                                           onpaste="validFormNewToolByEachField(this)">
                                </div>

                                <!--Description-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Description</span>
                                    <input type="text" class="form-control" th:field="*{description}" autocomplete="off" onkeyup="validFormNewToolByEachField(this)" onchange="validFormNewToolByEachField(this)" onpaste="validFormNewToolByEachField(this)">
                                </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button th:attr="onclick='clickCreateItem(\'' +'Tool' +  '\');'" class="btn btn-primary" type="button">Save</button>
                                            <button onclick="validSubmitNewToolForm('createToolForm', 'reset')" class="btn btn-secondary" type="reset">Clear</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="createToolConfirm" style="display: none" class="text-start">
                                    <p >Are you sure you want to add <b id="createToolName"></b> ?</p>
                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-primary" type="submit">Yes</button>
                                            <button th:attr="onclick='clickCreateItemNo(\'' + 'Tool' +  '\');'" type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div name="toolForm" style="display: none">
                            <form th:action="@{warehouse/create/order}" method="POST"
                                  th:object="${newWarehouseToolForm}" id="createToolOrderForm">
                                <div id="createToolOrderPane">
                                <!--Warehouse Tool-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">Tool</span>
                                    <select class="form-select" aria-label="Select Medicine" th:field="*{tool}" autocomplete="off" onchange="validFormNewWarehouseToolByEachField(this)">
                                        <option value="#" selected >Choose...</option>
                                        <option th:each="tool : ${tools}" th:value="${tool.ToolID}" th:text="${tool.getNameForShow}"/>
                                    </select>
                                </div>

                                <!--Quality In-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Qty.In</span>
                                    <input type="number" class="form-control" th:field="*{quantityIn}" autocomplete="off"
                                           onkeyup="validFormNewWarehouseToolByEachField(this)"
                                           onchange="validFormNewWarehouseToolByEachField(this)"
                                           onpaste="validFormNewWarehouseToolByEachField(this)">
                                </div>

                                <!--PaidTotal-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Paid Total</span>
                                    <input type="number" class="form-control" th:field="*{paidTotal}" autocomplete="off"
                                           onkeyup="validFormNewWarehouseToolByEachField(this)"
                                           onchange="validFormNewWarehouseToolByEachField(this)"
                                           onpaste="validFormNewWarehouseToolByEachField(this)">
                                </div>

                                <!--Description-->
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text date">Exp. Date</span>
                                    <input type="date" class="form-control" th:field="*{expiredDate}" autocomplete="off" onkeyup="validFormNewWarehouseToolByEachField(this)" onchange="validFormNewWarehouseToolByEachField(this)" onpaste="validFormNewWarehouseToolByEachField(this)">
                                </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button th:attr="onclick='clickCreateItem(\'' +'ToolOrder' +  '\');'" class="btn btn-primary" type="button">Save</button>
                                            <button onclick="validSubmitNewWarehouseToolForm('createToolOrderForm', 'reset')" class="btn btn-secondary" type="reset">Clear</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="createToolOrderConfirm" style="display: none" class="text-start">
                                    <p >Are you sure you want to add <b id="createToolOrderName"></b> ?</p>
                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-primary" type="submit">Yes</button>
                                            <button th:attr="onclick='clickCreateItemNo(\'' + 'ToolOrder' +  '\');'" type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>