<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>

<div th:fragment="editWarehouseMedicinePopUp(editMed)" th:id="'editWarehouseMedicinePopUp'+${editMed.medID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog"
     data-bs-backdrop="static" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'editMedicineHeader'+${editMed.medID}">Edit [[${editMed.name}]]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        th:attr="onclick='clickEditItemNo(\''+'Medicine' +'\',\''+${editMed.medID} +  '\');'"></button>
            </div>

            <!--Edit Med Warehouse-->
            <div class="modal-body">
                <form th:action="@{warehouse/edit/medicine/{id} (id=${editMed.medID})}" method="POST"
                th:id="'editMedicineForm'+${editMed.medID}">

                    <div th:id="'editMedicinePane'+${editMed.medID}">
                    <!--Med's Name-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" th:value="${editMed.name}" id="name" name="name"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditMedicineInfoByEachField(\'' + 'name' +'\',\''+ ${editMed.medID} + '\');'"
                               th:onpaste="'javascript:validFormEditMedicineInfoByEachField(\'' + 'name' +'\',\''+ ${editMed.medID} + '\');'">
                    </div>

                    <!--Price-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text date">Price</span>
                        <input type="number" class="form-control" th:value="${editMed.price}" id="price" name="price"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditMedicineInfoByEachField(\'' + 'price' +'\',\''+ ${editMed.medID} + '\');'"
                               th:onchange="'javascript:validFormEditMedicineInfoByEachField(\'' + 'price' +'\',\''+ ${editMed.medID} + '\');'"
                               th:onpaste="'javascript:validFormEditMedicineInfoByEachField(\'' + 'price' +'\',\''+ ${editMed.medID} + '\');'">
                    </div>

                    <!--Pet's Dose & Unit-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Dose</span>
                        <input type="text" class="form-control" th:value="${editMed.dose}" id="dose" name="dose" style="margin-right: 2px"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditMedicineInfoByEachField(\'' + 'dose' +'\',\''+ ${editMed.medID} + '\');'"
                               th:onpaste="'javascript:validFormEditMedicineInfoByEachField(\'' + 'dose' +'\',\''+ ${editMed.medID} + '\');'">
                        <span class="input-group-text">Unit</span>
                        <input type="text" class="form-control" th:value="${editMed.unit}" id="unit" name="unit"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditMedicineInfoByEachField(\'' + 'unit' +'\',\''+ ${editMed.medID} + '\');'"
                               th:onpaste="'javascript:validFormEditMedicineInfoByEachField(\'' + 'unit' +'\',\''+ ${editMed.medID} + '\');'">
                    </div>

                    <!--Description-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text date">Description</span>
                        <input type="text" class="form-control" th:value="${editMed.description}" id="description" name="description"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditMedicineInfoByEachField(\'' + 'description' +'\',\''+ ${editMed.medID} + '\');'"
                               th:onpaste="'javascript:validFormEditMedicineInfoByEachField(\'' + 'description' +'\',\''+ ${editMed.medID} + '\');'">
                    </div>

                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button th:attr="onclick='clickEditItem(\''+'Medicine' +'\',\''+${editMed.medID} +  '\');'" class="btn btn-primary" type="button">save</button>
                                <button th:onclick="'validSubmitEditMedicineInfoForm(\'' + 'editMedicineForm'+ ${editMed.medID} +'\',\''+ 'reset' + '\');'" class="btn btn-secondary" type="reset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div th:id="'editMedicineConfirm'+ ${editMed.medID}" style="display: none" class="text-start">
                        <p >Are you sure you want to edit <b>[[${editMed.name}]]</b> ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button th:attr="onclick='clickEditItemNo(\''+'Medicine' +'\',\''+${editMed.medID} +  '\');'" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>