<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="createServicePopUp" th:id="createServicePopUp" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{service/create}" method="POST" th:object="${newService}">

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text date">Price</span>
                        <input type="number" class="form-control" th:field="*{price}">
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-secondary" type="reset">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>