<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="createServicePopUp" th:id="createServicePopUp" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createServiceHeader">Add Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{service/create}" method="POST" th:object="${newService}" id="createServiceForm">
                    <div id="createServicePane">
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" th:field="*{name}" autocomplete="off">
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text date">Price</span>
                        <input type="number" class="form-control" th:field="*{price}">
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-12 text-center">
                            <button onclick="clickCreateService()" type="button" class="btn btn-primary">save</button>
                            <button class="btn btn-secondary" type="reset">clear</button>
                        </div>
                    </div>
                    </div>

                    <div id="createServiceConfirm" style="display: none">
                        <p>Are you sure you want to add <b id="createServiceName"></b> ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Yes</button>
                            <button onclick="clickCreateServiceNo()" type="reset" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>