<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="editServicePopUp(editService)" th:id="editServicePopUp+${editService.servingID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'editServiceHeader'+${editService.servingID}">Edit Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{service/edit/{id} (id=${editService.servingID})}" method="POST" th:id="'editServiceForm'+${editService.servingID}">
                    <div th:id="'editServicePane'+${editService.servingID}">
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" th:value="${editService.name}" id="name" name="name">
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text date">Price</span>
                        <input type="number" class="form-control" th:value="${editService.price}" id="price" name="price">
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-12 text-center">
                            <button th:attr="onclick='clickEditService(\'' + ${editService.servingID} +  '\');'" class="btn btn-primary" type="button">save</button>
                        </div>
                    </div>
                    </div>

                    <div th:id="'editServiceConfirm'+ ${editService.servingID}" style="display: none" class="text-start">
                        <p >Are you sure you want to edit Service ID [[${editService.servingID}]] ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button th:attr="onclick='clickEditServiceNo(\'' + ${editService.servingID} +  '\');'" type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>