<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse View</title>
    <!--Custome Style-->
    <link th:rel="stylesheet" th:href="@{/css/table-warehouse.css}">
    <!--Bootstrap-->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--Table-->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <script th:src="@{/js/confirmPopUp.js}"></script>
</head>
<script>
    let host = window.location.origin;
    const hide = "none";
    const show = "block";
    window.addEventListener('DOMContentLoaded', event => {
        const datatablesService = document.getElementById('datatablesService');
        if (datatablesService) {
            new simpleDatatables.DataTable(datatablesService);
        }
    });
</script>
<style>

</style>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container">
    <h1>All Services</h1>
    <div class="card mb-4 container">
        <div class="tab-content">
        <div class="mb-0">
            <div class="float-end mt-4 mb-0 ms-4">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createServicePopUp">
                    + Add Service
                </button>
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesService" class="table">
                <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td th:text="${ '#' + service.servingID}"></td>
                    <td th:text="${service.name}"></td>
                    <td th:text="${service.price}"></td>
                    <td>
                        <div class="col-md-12 text-center">
                            <div class="dropdown open">
                                <a href="#!" class="px-2" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                    <a class="dropdown-item" data-bs-toggle="modal"
                                       th:attr="data-bs-target='#editServicePopUp'+ *{service.servingID}" role="button">
                                        <i class="fa fa-pencil mr-1"></i> Edit
                                    </a>

                                    <a class="dropdown-item text-danger" data-bs-toggle="modal"
                                       th:attr="data-bs-target='#deletePopUp'+*{service.servingID}">
                                        <i class="fa fa-trash mr-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th:block th:replace="service/editServicePopUp :: editServicePopUp(${service})">modal</th:block>
                    <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Service',mainPath='service',deleteId=${service.servingID},deleteName=${service.name},pathId='service')">
                        modal
                    </th:block>

                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:replace="service/createServicePopUp :: createServicePopUp">modal</th:block>
    </div>
    </div>
    </div>
</body>
</html>