<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse View</title>
    <!--Custome Style-->
    <link th:rel="stylesheet" th:href="@{/css/table-warehouse.css}">
    <!--Bootstrap-->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,300,1,0" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--Table-->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <script th:src="@{/js/confirmPopUp.js}"></script>
    <script th:src="@{/js/validateModel.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/global.css}">
</head>
<script>
    let host = window.location.origin;
    const hide = "none";
    const show = "block";
    window.addEventListener('DOMContentLoaded', event => {
        const datatablesService = document.getElementById('datatablesService');
        if (datatablesService) {
            new simpleDatatables.DataTable(datatablesService);
        }
    });
</script>
<!--createService Form-->
<script>
    let realTimeValid_formNewService = false;

    function validFormNewServiceByEachField(fieldElement){
        if (realTimeValid_formNewService){
            const formNewService = document.getElementById("createServiceForm")
            const validatedList = serviceValidNewService(formNewService, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(formNewService.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitNewServiceForm(formNewService, option){
        realTimeValid_formNewService = true;
        const validatedList = serviceValidNewService(formNewService, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formNewService.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<!--editService Form-->
<script>
    let realTimeValid_formEditService = false;

    function validFormEditServiceByEachField(fieldId, fromId){
        if (realTimeValid_formEditService){
            const formEditService = document.getElementById("editServiceForm"+fromId)
            const validatedList = serviceValidNewService(formEditService, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(formEditService.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditServiceForm(formEditService, option){
        realTimeValid_formEditService = true;
        const validatedList = serviceValidNewService(formEditService, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formEditService.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<style>

</style>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="separateContent">
        <div class="container">
    <!--    <h1>All Services</h1>-->
            <div id="tablePane" class="card mb-4 container rounded-2">
                <div class="tab-content">
                    <div class="mb-0">
                        <div class="float-end mt-4 mb-0 ms-4">
                            <button th:if="${nowAccount.isAdmin()}" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createServicePopUp">
                                + Add Service
                            </button>
                        </div>
                    </div>
                <div class="card-body">
                    <table id="datatablesService" class="table">
                        <thead>
                        <tr>
                            <th>Service ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th th:if="${nowAccount.isAdmin()}">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="service : ${services}">
                            <td th:text="${ '#' + service.servingID}"></td>
                            <td th:text="${service.name}"></td>
                            <td th:text="${service.price}"></td>
                            <td th:if="${nowAccount.isAdmin()}">
                                <div class="col-md-12 text-center">
                                    <div class="dropdown open">
                                        <a href="#!" class="px-2" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="material-symbols-rounded">more_vert</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="triggerId1">
                                            <a class="dropdown-item" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#editServicePopUp'+ *{service.servingID}" role="button">
                                                <span class="material-symbols-rounded align-middle pb-1">edit</span> Edit
                                            </a>

                                            <a class="dropdown-item text-danger" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#deletePopUp'+*{service.servingID}">
                                                <span class="material-symbols-rounded align-middle pb-1">delete</span> Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <th:block th:replace="service/editServicePopUp :: editServicePopUp(${service})">modal</th:block>
                            <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Service',mainPath='service',deleteId=${service.servingID},deleteName=${service.name},pathId='service')">
                                modal
                            </th:block>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <th:block th:replace="service/createServicePopUp :: createServicePopUp">modal</th:block>
                </div>
            </div>
        </div>
        </div>
</body>
</html>