<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Treatment Histories</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/table-image.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        const datatablesTreatmentHistory = document.getElementById('datatablesTreatmentHistory');
        new simpleDatatables.DataTable(datatablesTreatmentHistory);
    });
</script>
<style>
    #owner:hover{
        color: #A4CB85;
    }
    #owner{
        text-decoration: none;
        color:black;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3 mb-3 mt-3 ms-5">
                <img class="img-fluid rounded-circle w-75 shadow rounded" alt="" th:src="*{'data:image;base64,'+{pet.image}}">
            </div>
            <div class="col-md-8 ms-auto">
                <div class="card-body">
                    <div class="dropdown open float-end">
                        <a href="#!" class="px-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" style="font-size:1.3em"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="triggerId1">
                            <a class="dropdown-item btn">
                                <i class="fa fa-heartbeat"></i> Receive Treatment
                            </a>
                            <a class="dropdown-item btn" data-bs-toggle="modal"
                               th:attr="data-bs-target='#editPetPopUp'+*{pet.petID}">
                                <i class="fa fa-pencil mr-1"></i> Edit
                            </a>
                        </div>
                        <!--Call Edit pet (PopUp)-->
                        <th:block th:replace="pet/petPopUp/editPetPopUp :: editPetPopUp(${pet.account.accId},${pet},'treatmentHistory')">modal</th:block>
                    </div>


                    <h1 class="card-title mt-1">[[*{pet.name}]]
                        <i th:if="${pet.gender eq 'female    '}" class="fa fa-venus" style="color:#FF86C2;"></i>
                        <i th:if="${pet.gender eq 'male      '}" class="fa fa-mars" style="color:#86B9FF;"></i>
                    </h1>

                    <p class="card-text w-75" style="font-size: 1.2em;">
                        <i class="fas fa-paw"></i> Pet's type : [[*{pet.petType}]]<span class="ms-3 me-3"> | </span>Breed : [[*{pet.breed}]]
                    </p>

                    <p class="card-text w-75" style="font-size: 1.2em;">
                        <i class="fa fa-calendar-alt"></i> [[${#dates.format(pet.doB, 'dd/MM/yyyy')}]]
                        <span class="ms-3 me-3"> | </span>
                        <span th:if="${pet.sterilization == true}"><i class="fa fa-cut"></i> sterilized</span>
                        <span th:if="${pet.sterilization == false}"><i class="fa fa-cut"></i> not sterilized</span>
                    </p>

                    <p th:if="${pet.remark} neq '-'" class="card-text w-75" style="font-size: 1.2em;">
                        <i class="fa fa-exclamation-triangle" style="color:#FFA600;"></i> [[*{pet.remark}]]</p>

                    <hr class="w-50">

                    <p class="card-text w-75" style="font-size: 1.2em;">
                        <a th:href="@{'/account/getInfo/'+${pet.account.accId}}" id="owner">
                        <i class="fas fa-user-circle"></i> [[*{pet.account.firstName}]] [[*{pet.account.lastName}]]
                        </a>
                    </p>
                    <p class="card-text" style="font-size: 1.2em;"><i class="fa fa-phone-square"></i> [[*{pet.account.phone}]]</p>
                </div>
            </div>
        </div>
    </div>

    <h4>Treatment Histories</h4>


    <div class="card mb-4 container">
        <div class="card-body">
            <table id="datatablesTreatmentHistory" class="table">
                    <thead>
                    <tr>
                        <th>Bill ID</th>
                        <th>Treatment ID</th>
                        <th>Date</th>
                        <th>Weight (kg)</th>
                        <th>Our Clinic</th>
                        <th>Diagnosis</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody th:if="${not #lists.isEmpty(treatmentHistories)}">
                    <div th:each="treat : ${treatmentHistories}">
                    <tr>
                        <td th:if="${treat.bill == null}" th:text="'-'"></td>
                        <td th:if="${treat.bill != null}" th:text="${treat.bill.billID}"></td>
                        <td>[[*{treat.treatmentHisID}]]</td>
                        <td>[[${#dates.format(treat.date, 'dd/MM/yyyy')}]]</td>
                        <td class="text-right">[[*{treat.weight}]]</td>
                        <td>
                            <span th:if="${treat.ourClinic == true}" style="font-size: 0.9em;" class="badge rounded-pill bg-success">YES</span>
                            <span th:if="${treat.ourClinic == false}" style="font-size: 0.9em;" class="badge rounded-pill bg-danger">NO</span>
                        </td>
                        <td>[[*{treat.diagnosis}]]</td>


                        <td>
                            <div class="dropdown open">
                                <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                    <a class="dropdown-item btn" th:href="@{'/bill/'+${treat.bill.billID}}">
                                        <i class="fa fa-file-invoice"></i> Bill's Details
                                    </a>

                                </div>
                            </div>
                        </td>


                    </tr>
                    </div>
                    </tbody>

            </table>
        </div>
    </div>

</div>


</body>
</html>