<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script>

</script>

<body>
<!--Create Pet (PopUp)-->
<div th:fragment="createPetPopUp(accId,petTypeList,breedList)" th:id="createPetPopUp" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPetHeader">Add Pet</h5>
                <button onclick="clickCreatePetNo()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/pets/create}" method="POST" enctype="multipart/form-data" id="createPetForm">

                    <div id="createPetPane">
                        <!--Account ID-->
                        <input type="hidden" class="form-control" id="accId" name="accId" th:value="${accId}">

                    <!--Pet's Name-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Pet's Name</span>
                        <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                               onkeyup="validFormNewPetByEachField(this)"
                               onpaste="validFormNewPetByEachField(this)">
                    </div>

                    <!--Pet's Image-->
                    <div class="mb-3">
                        <input class="form-control" type="file" id="image" name="image" autocomplete="off"
                               onkeyup="validFormNewPetByEachField(this)"
                               onpaste="validFormNewPetByEachField(this)">
                    </div>

                        <!--DoB-->
                        <div class="input-group input-group mb-3">
                            <span class="input-group-text date">Date of Birth</span>
                            <input onblur="calculateAge()" type="date" class="form-control" id="doB" name="doB"
                                   onkeyup="validFormNewPetByEachField(this)"
                                   onchange="validFormNewPetByEachField(this)"
                                   onpaste="validFormNewPetByEachField(this)">
                            <span class="input-group-text" >Age</span>
                            <input onchange="calculateDate()" type="text" id="age" name="age" class="form-control">
                        </div>

<!--                    <div class="input-group input-group mb-3">-->
<!--                        <span class="input-group-text">Date of Birth</span>-->
<!--                        <input type="date" class="form-control" id="doB" name="doB" autocomplete="off"-->
<!--                               onkeyup="validFormNewPetByEachField(this)"-->
<!--                               onchange="validFormNewPetByEachField(this)"-->
<!--                               onpaste="validFormNewPetByEachField(this)">-->
<!--                    </div>-->

                        <div class="input-group input-group mb-3">
                            <span class="input-group-text">Pet's Type</span>
                            <input class="form-control" list="typeDatalistOptions" id="petType" name="petType" placeholder="Choose..." autocomplete="off"
                                   onkeyup="validFormNewPetByEachField(this)"
                                   onpaste="validFormNewPetByEachField(this)">
                            <datalist id="typeDatalistOptions">
                                <div th:each="petType : ${petTypeList}" >
                                    <option th:value="${petType}"/>
                                </div>
                            </datalist>
                            <span class="input-group-text">Breed</span>
                            <input class="form-control" list="breedDatalistOptions" id="breed" name="breed" placeholder="Choose..." autocomplete="off"
                                   onkeyup="validFormNewPetByEachField(this)"
                                   onpaste="validFormNewPetByEachField(this)">
                            <datalist id="breedDatalistOptions">
                                <div th:each="breed : ${breedList}" >
                                    <option th:value="${breed}"/>
                                </div>
                            </datalist>
                        </div>

<!--                    &lt;!&ndash;Pet's Type & Breed&ndash;&gt;-->
<!--                    <div class="input-group input-group mb-3">-->
<!--                        <span class="input-group-text">Pet's Type</span>-->
<!--                        <input type="text" class="form-control" id="petType" name="petType" autocomplete="off"-->
<!--                               onkeyup="validFormNewPetByEachField(this)"-->
<!--                               onpaste="validFormNewPetByEachField(this)">-->
<!--                        <span class="input-group-text">Breed</span>-->
<!--                        <input type="text" class="form-control" id="breed" name="breed" autocomplete="off"-->
<!--                               onkeyup="validFormNewPetByEachField(this)"-->
<!--                               onpaste="validFormNewPetByEachField(this)">-->
<!--                    </div>-->


                    <!--Gender-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Gender</span>
                        <select class="form-select" id="gender" name="gender" onchange="validFormNewPetByEachField(this)">
                            <option selected>Choose...</option>
                            <option value="female">female</option>
                            <option value="male">male</option>
                        </select>
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Sterilization</span>
                        <select class="form-select" id="sterilization" name="sterilization" onchange="validFormNewPetByEachField(this)">
                            <option selected>Choose...</option>
                            <option value="true">sterilized</option>
                            <option value="false">not sterilized</option>
                        </select>
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Remark</span>
                        <input type="text" class="form-control" id="remark" name="remark">
                    </div>

                        <!--button-->
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button onclick="clickCreatePet()" type="button" class="btn btn-primary">Save</button>
                                <button onclick="validSubmitNewPetForm('createPetForm', 'reset')" class="btn btn-secondary" type="reset">Clear</button>
                            </div>
                        </div>
                    </div>

                    <div id="createPetConfirm" style="display: none">
                        <p>Are you sure you want to add <b id="createName"></b> ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Yes</button>
                            <button onclick="clickCreatePetNo()" type="reset" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>