<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<!--edit Pet (PopUp)-->
<div th:fragment="editPetPopUp(accId,pet,page,petTypeList,breedList)" th:id="'editPetPopUp'+${pet.petID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog"
     data-bs-backdrop="static" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'editPetHeader'+${pet.petID}">Edit Pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        th:attr="onclick='clickEditPetNo(\'' + ${pet.petID} +  '\');'"></button>
            </div>
            <div class="modal-body">
<!--                [[${#dates.format(pet.doB, 'dd/MM/yyyy')}]]-->
                <form th:id="'editPetForm'+${pet.petID}" th:action="@{/pets/edit}" method="POST" enctype="multipart/form-data">
                    <div th:id="'editPetPane'+${pet.petID}">
                    <!--Pet ID-->
                    <input type="hidden" class="form-control" id="petID" name="petID" th:value="${pet.petID}">
                    <!--Account ID-->
                    <input type="hidden" class="form-control" id="accId" name="accId" th:value="${accId}">
                    <!--Page-->
                    <input type="hidden" class="form-control" id="page" name="page" th:value="${page}">

                    <!--Pet's Name-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Pet's Name</span>
                        <input type="text" class="form-control" id="name" name="name" th:value="${pet.name}"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditPetInfoByEachField(\'' + 'name' +'\',\''+ ${pet.petID} + '\');'"
                               th:onchange="'javascript:validFormEditPetInfoByEachField(\'' + 'name' +'\',\''+ ${pet.petID} + '\');'"
                               th:onpaste="'javascript:validFormEditPetInfoByEachField(\'' + 'name' +'\',\''+ ${pet.petID} + '\');'">
                    </div>

                    <!--Pet's Image-->
                    <div class="mb-3">
<!--                        <img alt="" th:src="*{'data:image;base64,'+{pet.image}}" style="width:100px;height:100px">-->
                        <input class="form-control" type="file" id="image" name="image">
                    </div>

                    <!--DoB-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text date">Date of Birth</span>
                        <input th:attr="onblur='calculateEditAge(\'' + ${pet.petID} +  '\');'" type="date" class="form-control" id="doB" name="doB" th:value="${#dates.format(pet.doB, 'yyyy-MM-dd')}">
                        <span class="input-group-text">Age</span>
                        <input th:attr="onchange='calculateEditDate(\'' + ${pet.petID} +  '\');'" type="text" class="form-control" id="age" name="age" >
                    </div>

                    <!--Pet's Type & Breed-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Pet's Type</span>
                        <input class="form-control" list="typeDatalistOptions" id="petType" name="petType" placeholder="Choose..." autocomplete="off" th:value="${pet.petType}">
                        <datalist id="typeDatalistOptions">
                            <div th:each="petType : ${petTypeList}" >
                                <option th:value="${petType}"/>
                            </div>
                        </datalist>
                        <span class="input-group-text">Breed</span>
                        <input class="form-control" list="breedDatalistOptions" id="breed" name="breed" placeholder="Choose..." autocomplete="off" th:value="${pet.breed}">
                        <datalist id="breedDatalistOptions">
                            <div th:each="breed : ${breedList}" >
                                <option th:value="${breed}"/>
                            </div>
                        </datalist>
                    </div>



                    <!--Gender-->
<!--                    Pet's Gender => [[${pet.gender}]]-->
<!--                    female = [[${pet.gender eq 'female    '}]]-->
<!--                    male = [[${pet.gender eq 'male      '}]]-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Gender</span>
                        <select class="form-select" id="gender" name="gender" aria-label="Default select example"
                                th:onchange="'javascript:validFormEditPetInfoByEachField(\'' + 'gender' +'\',\''+ ${pet.petID} + '\');'">
                            <option th:value="female" th:text="female"
                                    th:selected="${pet.gender eq 'female    '}"/>
                            <option th:value="male" th:text="male"
                                    th:selected="${pet.gender eq 'male      '}"/>
<!--                            <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"-->
<!--                                    th:selected="${gender eq pet.gender}"/>-->
                        </select>
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Sterilization</span>
                        <select class="form-select" id="sterilization" name="sterilization"
                                th:onchange="'javascript:validFormEditPetInfoByEachField(\'' + 'gender' +'\',\''+ ${pet.petID} + '\');'">
<!--                            <option  selected th:switch="${pet.sterilization}">-->
<!--                                <p th:case="true">sterilized</p>-->
<!--                                <p th:case="false">not sterilized</p>-->
<!--                            </option>-->
<!--                            <option value="true">sterilized</option>-->
<!--                            <option value="false">not sterilized</option>-->
                            <option th:value="true"
                                    th:selected="${true==pet.sterilization}">sterilized</option>
                            <option th:value="false"
                                    th:selected="${false==pet.sterilization}">not sterilized</option>
                        </select>
                    </div>


                    <!--Remark-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Remark</span>
                        <input type="text" class="form-control" id="remark" name="remark" th:value="${pet.remark}">
                    </div>

                    <!--button-->
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button th:attr="onclick='clickEditPet(\'' + ${pet.petID} +  '\');'" class="btn btn-primary" type="button">Save</button>
                                <button class="btn btn-secondary" type="reset"
                                        th:onclick="'validSubmitEditPetInfoForm(\'' + 'editPetForm'+ ${pet.petID} +'\',\''+ 'reset' + '\');'">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div th:id="'editPetConfirm'+${pet.petID}" style="display: none" class="text-start">
                        <p >Are you sure you want to edit [[${pet.name}]] ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button th:attr="onclick='clickEditPetNo(\'' + ${pet.petID} +  '\');'" type="reset" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>