<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,300,1,0" />
</head>
<style>

</style>

<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(0deg, #95af90, #b5e3d3);" th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand ms-1" th:href="@{/}">
        <img th:src="@{/images/logo.png}" width="50" height="50" class="rounded-circle bg-light" style="background-size: cover"/>
      <small th:classappend="${#httpServletRequest.requestURI.contains('/register')} ? 'ms-0' : ''" style="text-decoration: none;color:black;">Veterinary Clinic</small>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-rounded">menu</span>
    </button>

    <div th:if="${not #httpServletRequest.requestURI.contains('/register')}" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="headerNav" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a id="headerNav" th:classappend="${#httpServletRequest.requestURI.contains('/account')} ? 'active':''" class="nav-link" th:href="@{/account}">Accounts</a>
        </li>
        <li class="nav-item">
          <a id="headerNav" th:classappend="${#httpServletRequest.requestURI.contains('/warehouse')} ? 'active':''" class="nav-link" th:href="@{/warehouse}">Warehouse</a>
        </li>
        <li class="nav-item">
          <a id="headerNav" th:classappend="${#httpServletRequest.requestURI.contains('/service')} ? 'active':''" class="nav-link" th:href="@{/service}">Service</a>
        </li>
        <li class="nav-item">
          <a id="headerNav" th:classappend="${#httpServletRequest.requestURI.contains('/bill')} ? 'active':''"class="nav-link" th:href="@{/bill}">Bills</a>
        </li>
        <li class="nav-item">
          <a id="headerNav" th:classappend="${#httpServletRequest.requestURI.contains('/appointment')} ? 'active':''" class="nav-link" th:href="@{/appointment}">Appointment</a>
        </li>
      </ul>
      <div class="navbar-nav float-end" sec:authorize="isAnonymous()">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-primary" th:href="@{/oauth2/authorization/line}">Login</a>
          </li>
        </ul>
      </div>
        <div class="navbar-nav" sec:authorize="isAuthenticated()">
          <div class="dropdown d-inline-block ms-auto">
            <div class="dropdown-toggle" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="30"/>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="triggerId1"
                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 44px);">
                <a class="dropdown-item btn">
                  <span class="material-symbols-rounded align-middle pb-1">account_circle</span> Profile
                </a>
                <a class="dropdown-item btn" th:href="@{/logout}">
                  <span class="material-symbols-rounded align-middle pb-1">logout</span> Logout
                </a>
            </div>
          </div>
        </div>
    </div>


<!--      <div sec:authorize="isAuthenticated()">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item">-->
<!--            <a class="btn btn-secondary" th:href="@{/logout}">Logout</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div sec:authorize="isAnonymous()">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item">-->
<!--            <a class="btn btn-primary" th:href="@{/oauth2/authorization/line}">Login</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</nav>