<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<body>
<!--Create Pet (PopUp)-->
<div th:fragment="addToolToBill(billID,tools)" th:id="addToolToBill" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tool</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addToolToBillForm" th:action="@{/billTool/add}" method="POST" enctype="multipart/form-data"
                      onsubmit="return validSubmitAddToolToBillForm(this, 'all');">

                    <!--Account ID-->
                    <input type="hidden" class="form-control" id="billID" name="billID" th:value="${billID}">

                    <!-- Choose Tool-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Tool</span>
                        <select class="form-select" aria-label="Select Medicine" id="toolID" name="toolID" onchange="validFormAddToolToBillByEachField(this)">
                            <option value="#" selected >-------- Choose --------</option>
                            <div th:each="tool : ${tools}">
                                <option th:value="${tool.toolID}" th:text="${tool.name}+' ('+${tool.description}+')'"/>
                            </div>
                        </select>
                    </div>

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Amount</span>
                        <input type="number" class="form-control" id="cureAmount" name="cureAmount"
                               autocomplete="off"
                               onkeyup="validFormAddToolToBillByEachField(this)"
                               onchange="validFormAddToolToBillByEachField(this)"
                               onpaste="validFormAddToolToBillByEachField(this)">
                    </div>

                    <!--button-->
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">save</button>
                        <button class="btn btn-secondary" type="reset">clear</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>