<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="deleteItemPopUp(header,mainPath,deleteID,deleteName,billID)" th:id="'deleteItemPopUp'+${deleteID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog"
     data-bs-backdrop="static" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete [[*{header}]]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{'/'+${mainPath}+'/delete'}" method="POST">
          <!--ID-->
          <input type="hidden" class="form-control" id="deleteID" name="deleteID" th:value="${deleteID}">
          <input type="hidden" class="form-control" id="billID" name="billID" th:value="${billID}">

          <p>Are you sure you want to Delete [[*{deleteName}]]</p>
          <!--button-->
          <div class="modal-footer">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-danger" type="submit">Delete</button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

</body>
</html>