<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<body>
<!--Create Pet (PopUp)-->
<div th:fragment="editBillMed(medicine,amount,description,billID)" th:id="'editBillMed'+${medicine.medID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit [[${medicine.name}]]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/billMedicine/edit}" method="POST" enctype="multipart/form-data">

                    <!--Bill ID-->
                    <input type="hidden" class="form-control" id="billID" name="billID" th:value="${billID}">
                    <input type="hidden" class="form-control" id="medID" name="medID" th:value="${medicine.medID}">
                    <input type="hidden" class="form-control" id="oldAmount" name="oldAmount" th:value="${amount}">

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <input type="text" class="form-control" id="description" name="description" th:value="${description}">
                    </div>


                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Amount</span>
                        <input type="number" class="form-control" id="newAmount" name="newAmount" th:value="${amount}">
                    </div>

                    <!--button-->
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">save</button>
                        <button class="btn btn-secondary" type="reset">clear</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>