<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<!--Create Pet (PopUp)-->
<div th:fragment="editBillServing(serving,amount,billID)" th:id="'editBillServing'+${serving.servingID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'editServiceBillHeader'+${serving.servingID}">Edit [[${serving.name}]]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        th:attr="onclick='clickEditBillNo(\''+'Service' +'\',\''+${serving.servingID}+'\',\''+${serving.name} +'\');'"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/billService/edit}" method="POST" enctype="multipart/form-data" th:id="'editServiceBillForm'+${serving.servingID}">
                    <div th:id="'editServiceBillPane'+${serving.servingID}">
                    <!--Bill ID-->
                    <input type="hidden" class="form-control" id="billID" name="billID" th:value="${billID}">
                    <input type="hidden" class="form-control" id="servingID" name="servingID" th:value="${serving.servingID}">

                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Amount</span>
                        <input type="number" class="form-control" id="cureAmount" name="cureAmount" th:value="${amount}"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormEditBillServiceFormByEachField(\'' + 'cureAmount' +'\',\''+ ${serving.servingID} + '\');'"
                               th:onchange="'javascript:validFormEditBillServiceFormByEachField(\'' + 'cureAmount' +'\',\''+ ${serving.servingID} + '\');'"
                               th:onpaste="'javascript:validFormEditBillServiceFormByEachField(\'' + 'cureAmount' +'\',\''+ ${serving.servingID} + '\');'">
                    </div>

                    <!--button-->
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button th:attr="onclick='clickEditBill(\''+'Service'+'\',\''+${serving.servingID} +'\');'" type="button" class="btn btn-primary">Save</button>
                                <button th:onclick="'validSubmitEditBillServiceForm(\'' + 'editServiceBillForm'+ ${serving.servingID} +'\',\''+ 'reset' + '\');'" class="btn btn-secondary" type="reset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div th:id="'editServiceBillConfirm'+${serving.servingID}" style="display: none">
                        <p>Are you sure you want to edit <b>[[${serving.name}]]</b> ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button th:attr="onclick='clickEditBillNo(\''+'Service' +'\',\''+${serving.servingID}+'\',\''+${serving.name} +'\');'" type="reset" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>