<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<body>
<!--Create Pet (PopUp)-->
<div th:fragment="editWeight(billID,weight,temp)" th:id="editWeight" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editWeightHeader">Edit Temperature & Weight</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                th:attr="onclick='clickEditTreatBillNo(\''+'Weight' +'\');'"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/treatmentHistory/weightTemp/edit}" method="POST" enctype="multipart/form-data" id="editWeightForm">
          <div id="editWeightPane">
          <!--Bill ID-->
          <input type="hidden" class="form-control" id="billID" name="billID" th:value="${billID}">

            <div class="input-group input-group mb-3">
              <span class="input-group-text">Temperature</span>
              <input type="number" step="0.1" class="form-control" id="temp" name="temp" th:value="${temp}"
                     autocomplete="off"
                     onkeyup="validFormEditWeightAndTempByEachField(this)"
                     onchange="validFormEditWeightAndTempByEachField(this)"
                     onpaste="validFormEditWeightAndTempEachField(this)">
              <div class="input-group-prepend">
                <div class="input-group-text">°C</div>
              </div>
            </div>

          <div class="input-group input-group mb-3">
            <span class="input-group-text">Weight</span>
            <input type="number" step="0.1" class="form-control" id="weight" name="weight" th:value="${weight}"
                   autocomplete="off"
                   onkeyup="validFormEditWeightAndTempByEachField(this)"
                   onchange="validFormEditWeightAndTempByEachField(this)"
                   onpaste="validFormEditWeightByEachField(this)">
            <div class="input-group-prepend">
              <div class="input-group-text">kg</div>
            </div>
          </div>


          <!--button-->
            <div class="modal-footer">
              <div class="col-md-12 text-center">
                <button th:attr="onclick='clickEditTreatBill(\''+'Weight'+'\');'" type="button" class="btn btn-primary">Save</button>
                <button onclick="validSubmitReceiveTreatmentForm('editWeightForm', 'reset')"  class="btn btn-secondary" type="reset">Reset</button>
              </div>
            </div>
          </div>

          <div id="editWeightConfirm" style="display: none">
            <p>Are you sure you want to edit temperature and weight ?</p>
            <div class="modal-footer">
              <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Yes</button>
                <button th:attr="onclick='clickEditTreatBillNo(\''+'Weight' +'\');'" type="reset" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>

  </div>
</div>

</body>

</html>