<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<body>
<!--Create Pet (PopUp)-->
<div th:fragment="editDiagnosis(billID,diagnosis)" th:id="editDiagnosis" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Diagnosis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/treatmentHistory/diagnosis/edit}" method="POST" enctype="multipart/form-data">

          <!--Bill ID-->
          <input type="hidden" class="form-control" id="billID" name="billID" th:value="${billID}">

          <div class="input-group input-group mb-3">
            <span class="input-group-text">Diagnosis</span>
            <input type="text" class="form-control" id="diagnosis" name="diagnosis" th:value="${diagnosis}">
          </div>

          <!--button-->
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">save</button>
            <button class="btn btn-secondary" type="reset">clear</button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

</body>

</html>