#owner:hover{
    color: #A4CB85;
}
#owner{
    text-decoration: none;
    color:black;
}

body{
    background-image: url('../images/dogDiagonal.jpg');
    background-repeat: repeat;
    background-size: 40%
}

#landBG{
    background-image: url('../images/land.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}

#tablePane{
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 10px #ababab;"
}

.separateContent {
    padding-top: 40px;
    padding-bottom: 50px;
}

#headerNav{
    text-decoration: none;
    color:black;
}
#headerNav:hover{
    text-decoration: none;
    color: #f4ffd0;
}
#headerNav.active{
    text-decoration: none;
    color: white;

}