<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Account View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <link th:rel="stylesheet" th:href="@{/css/table-image.css}">
  <script th:src="@{/js/validateModel.js}"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<script>
    let realTimeValid = false;

    function validFormEditAccountByEachField(fieldElement){
        if (realTimeValid){
            const formEditAccount = document.getElementById("editAccountForm")
            const validatedList = serviceValidEditAccount(formEditAccount, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(formEditAccount.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditAccountForm(formEditAccount, option){
        realTimeValid = true;
        const validatedList = serviceValidEditAccount(formEditAccount, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formEditAccount.elements[element.fieldId], element.errorMessage);
            });
            if (count === 5){
                return true;
            }
        }
        return false;
    }
</script>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-3 mb-3 mt-3 ms-5">
        <img class="img-fluid rounded-circle w-75" th:if="${account.img_path != null}" th:src="${account.img_path}" />
        <img class="img-fluid rounded-circle w-75" th:unless="${account.img_path != null}" th:src="@{/images/no-image.jpg}" />
      </div>
      <div class="col-md-8 ms-auto">
        <div class="card-body">
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#editInfoAccountPopUp">
                Edit
            </button>
            <th:block th:replace="account/accountPopUp/editInfoAccountPopUp :: editInfoAccountPopUp(${account})">modal</th:block>
            <h2 class="card-title">[[*{account.firstName}]] [[*{account.lastName}]]</h2>
            <p class="card-text">[[*{account.address}]]</p>
            <p class="card-text">[[*{account.phone}]]</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5">
      <div class="float-end mt-3 mb-3">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createPetPopUp">
              + Add Pet
          </button>
          <!--Call Create pet (PopUp)-->
          <th:block th:replace="pet/petPopUp/createPetPopUp :: createPetPopUp(${account.accId})">modal</th:block>
      </div>
  </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Pet's Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Pet's Type</th>
            <th scope="col">Breed</th>
            <th scope="col">Sterilization</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="pet : ${pets}" th:style="${pet.softDeleted} == true ? 'opacity:0.2'">
            <th scope="row"><img alt="" th:src="*{'data:image;base64,'+{pet.image}}" style="width:100px;height:100px"></th>

            <td>[[*{pet.name}]]</td>
            <td>[[*{pet.gender}]]</td>
            <td>[[${#dates.format(pet.doB, 'yyyy/MM/dd')}]]</td>
            <td>[[*{pet.petType}]]</td>
            <td>[[*{pet.breed}]]</td>

            <td>
                <span th:if="${pet.sterilization == true}" style="font-size: 0.9em;" class="badge rounded-pill bg-success">STERILIZED</span>
                <span th:if="${pet.sterilization == false}" style="font-size: 0.9em;" class="badge rounded-pill bg-secondary">NOT STERILIZED</span>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        th:attr="data-bs-target='#editPetPopUp'+*{pet.petID}">
                    edit
                </button>
                <th:block th:replace="pet/petPopUp/editPetPopUp :: editPetPopUp(${account.accId},${pet})">modal</th:block>

                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        th:attr="data-bs-target='#deletePopUp'+*{pet.petID}">
                    delete
                </button>
                <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Pet',mainPath='pets',deleteId=${pet.petID},deleteName=${pet.name},pathId=${account.accId})">
                    modal
                </th:block>
            </td>


        </tr>
        </tbody>
    </table>

</div>


</body>
</html>