<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Account View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <link th:rel="stylesheet" th:href="@{/css/table-image.css}">
  <script th:src="@{/js/validateModel.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/table-image.css}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<script>
    let realTimeValid = false;

    function validFormEditAccountByEachField(fieldElement){
        if (realTimeValid){
            const formEditAccount = document.getElementById("editAccountForm")
            const validatedList = serviceValidEditAccount(formEditAccount, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(formEditAccount.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditAccountForm(formEditAccount, option){
        realTimeValid = true;
        const validatedList = serviceValidEditAccount(formEditAccount, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formEditAccount.elements[element.fieldId], element.errorMessage);
            });
            if (count === 5){
                return true;
            }
        }
        return false;
    }
</script>
<script>
    let host = window.location.origin;
    const hide = "none";
    const show = "block";

    function appointmentCheckSliderCheck() {
        let appCheckbox =document.getElementById("appCheckbox");
        let appCheckbox2 =document.getElementById("appCheckbox2");
        let appointmentPane = document.getElementById('accAppointmentTable');
        let petPane = document.getElementById('petPane');

        if (appCheckbox.checked){
            appointmentPane.style.display = show;
            petPane.style.display = hide;
        }
        else if (!appCheckbox.checked){
            appointmentPane.style.display = hide;
            petPane.style.display = show;
        }
    }
    function appointmentCheckSliderUncheck() {
        // let appCheckbox =document.getElementById("appCheckbox");
        let appCheckbox2 =document.getElementById("appCheckbox2");
        let appointmentPane = document.getElementById('accAppointmentTable');
        let petPane = document.getElementById('petPane');

        if (!appCheckbox2.checked){
            appointmentPane.style.display = show;
            petPane.style.display = hide;
            location.reload(true);
        }
        else if (appCheckbox2.checked){
            appointmentPane.style.display = hide;
            petPane.style.display = show;
        }
    }
</script>
<script>
    // New Pet Form
    let realTimeValid_formNewPet = false;

    function validFormNewPetByEachField(fieldElement){
        if (realTimeValid_formNewPet){
            const formNewPet = document.getElementById("createPetPopUpForm")
            const validatedList = serviceValidNewPet(formNewPet, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(formNewPet.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitNewPetForm(formNewPet, option){
        console.log("Test");
        realTimeValid_formNewPet = true;
        const validatedList = serviceValidNewPet(formNewPet, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formNewPet.elements[element.fieldId], element.errorMessage);
            });
            if (count === 6){
                return true;
            }
        }
        return false;
    }
</script>
<script>
    // Edit Pet Info
    let realTimeValid_formEditPetInfo = false;

    function validFormEditPetInfoByEachField(fieldId, fromId){
        if (realTimeValid_formEditPetInfo){
            console.log(fieldId + fromId);
            const editPetInfoForm = document.getElementById("editPetInfoForm"+fromId)
            const validatedList = serviceValidNewPet(editPetInfoForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(editPetInfoForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditPetInfoForm(editPetInfoForm, option){
        realTimeValid_formEditPetInfo= true;
        const validatedList = serviceValidNewPet(editPetInfoForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(editPetInfoForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 4){
                return true;
            }
        }
        return false;
    }
</script>
<script>
    // Create Appointment
    let realTimeValid_formNewAppointment = false;

    function validFormNewAppointmentByEachField(fieldId, fromId){
        if (realTimeValid_formNewAppointment){
            console.log(fieldId + fromId);
            const newAppointmentForm = document.getElementById("newAppointmentForm"+fromId)
            const validatedList = serviceValidNewAppointment(newAppointmentForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(newAppointmentForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitNewAppointmentForm(newAppointmentForm, option){
        realTimeValid_formNewAppointment= true;
        const validatedList = serviceValidNewAppointment(newAppointmentForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(newAppointmentForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<script>
    // edit Appointment
    let realTimeValid_formEditAppointment = false;

    function validFormEditAppointmentByEachField(fieldId, fromId){
        if (realTimeValid_formEditAppointment){
            const newAppointmentForm = document.getElementById("editAppointmentForm"+fromId)
            const validatedList = serviceValidNewAppointment(newAppointmentForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(newAppointmentForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditAppointmentForm(editAppointmentForm, option){
        realTimeValid_formEditAppointment = true;
        const validatedList = serviceValidNewAppointment(editAppointmentForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(editAppointmentForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
<!--  Account's Card  -->
  <div class="card">
    <div class="row g-0">
      <div class="col-md-3 mb-3 mt-3 ms-5">
        <img class="img-fluid rounded-circle w-75 shadow rounded" th:if="${account.img_path != null}" th:src="${account.img_path}" />
        <img class="img-fluid rounded-circle w-75" th:unless="${account.img_path != null}" th:src="@{/images/no-image.jpg}" />
      </div>
      <div class="col-md-8 ms-auto">
        <div class="card-body">
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#editInfoAccountPopUp">
                <i class="fa fa-pencil mr-1"></i>  Edit
            </button>
            <th:block th:replace="account/accountPopUp/editInfoAccountPopUp :: editInfoAccountPopUp(${account})">modal</th:block>
            <h2 class="card-title mt-3">[[*{account.firstName}]] [[*{account.lastName}]]</h2>
            <p class="card-text w-50 mt-3"><i class="fa fa-map-marker"></i> [[*{account.address}]]</p>
            <p class="card-text mb-5 position-absolute bottom-0" style="font-size: 1.25em;"><i class="fa fa-phone-square"></i> [[*{account.phone}]]</p>
        </div>
      </div>
    </div>
  </div>

<!-- Pet's Table -->
    <div th:id="petPane">
      <div class="mb-5 mt-3">
          <span><b style="font-size: 1.5em">All Pet </b></span>

          <span class="float-end">
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createPetPopUp">
                  + Add Pet
              </button>
          </span>

          <span class="form-switch form-check-inline float-end mt-2">
              <input onchange="appointmentCheckSliderCheck()" class="form-check-input" type="checkbox" id="appCheckbox">
              <label class="form-check-label" for="appCheckbox">Appointment</label>
          </span>

          <!--Call Create pet (PopUp)-->
          <th:block th:replace="pet/petPopUp/createPetPopUp :: createPetPopUp(${account.accId})">modal</th:block>
      </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Pet's Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Pet's Type</th>
            <th scope="col">Breed</th>
            <th scope="col">Sterilization</th>
            <th scope="col">Remark</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <div th:each="pet : ${pets}">
        <tr >
            <div>
            <td><img alt="" th:src="*{'data:image;base64,'+{pet.image}}" class="rounded-circle" style="width:100px;height:100px"></th>

            <td>[[*{pet.name}]]</td>
            <td>[[*{pet.gender}]]</td>
            <td>[[${#dates.format(pet.doB, 'dd/MM/yyyy')}]]</td>
            <td>[[*{pet.petType}]]</td>
            <td>[[*{pet.breed}]]</td>

            <td>
                <span th:if="${pet.sterilization == true}" style="font-size: 0.9em;" class="badge rounded-pill bg-success">STERILIZED</span>
                <span th:if="${pet.sterilization == false}" style="font-size: 0.9em;" class="badge rounded-pill bg-secondary">NOT STERILIZED</span>
            </td>

            <td>
                <span th:if="${pet.remark} neq '-'" style="font-size: 0.9em;" class="badge rounded-pill bg-warning">REMARK</span>
            </td>

            <td>
                <div class="dropdown open">
                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <a class="dropdown-item btn" data-bs-toggle="modal"
                           th:attr="data-bs-target='#receiveTreatmentPopUp'+*{pet.petID}">
                            <i class="fa fa-heartbeat"></i> Receive Treatment
                        </a>
                        <a class="dropdown-item btn" data-bs-toggle="modal"
                           th:attr="data-bs-target='#createAppointment'+*{pet.petID}">
                            <i class="fa fa-calendar"></i> Create Appointment
                        </a>
                        <a class="dropdown-item btn" th:href="@{'/treatmentHistory/pet'+${pet.petID}}">
                            <i class="fa fa-folder"></i> Treatment Histories
                        </a>
                        <a class="dropdown-item btn" data-bs-toggle="modal"
                           th:attr="data-bs-target='#editPetPopUp'+*{pet.petID}">
                            <i class="fa fa-pencil mr-1"></i> Edit
                        </a>
                        <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                           th:attr="data-bs-target='#deletePopUp'+*{pet.petID}">
                            <i class="fa fa-trash mr-1"></i> Delete
                        </a>
                    </div>
                    <!--Call Receive Treatment (PopUp)-->
                    <th:block th:replace="treatmentHistory/treatmentHistoryPopUp/receiveTreatmentPopUp :: receiveTreatmentPopUp(${pet})">modal</th:block>
                    <!--Create Appointment (PopUp)-->
                    <th:block th:replace="appointment/appointmentPopUp/createAppointment :: createAppointment(${pet})">modal</th:block>
                    <!--Call Edit pet (PopUp)-->
                    <th:block th:replace="pet/petPopUp/editPetPopUp :: editPetPopUp(${account.accId},${pet},'infoAccount')">modal</th:block>
                    <!--Call Delete pet (PopUp)-->
                    <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Pet',mainPath='pets',deleteId=${pet.petID},deleteName=${pet.name},pathId=${account.accId})">
                        modal
                    </th:block>
                </div>
            </td>
            </div>


        </tr>
        </div>
        </tbody>
    </table>
    </div>

    <div th:id="accAppointmentTable" th:insert="appointment/accountAppointment :: accountAppointment" style="display: none"></div>



</div>


</body>
</html>