<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Account View</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/table-image.css}">
    <script th:src="@{/js/validateModel.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/global.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</head>
<script>
    let realTimeValid = false;

    function validFormEditAccountByEachField(fieldElement){
        if (realTimeValid){
            const formEditAccount = document.getElementById("editAccountForm")
            const validatedList = serviceValidEditAccount(formEditAccount, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(formEditAccount.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditAccountForm(formEditAccount, option){
        realTimeValid = true;
        const validatedList = serviceValidEditAccount(formEditAccount, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formEditAccount.elements[element.fieldId], element.errorMessage);
            });
            if (count === 5){
                return true;
            }
        }
        return false;
    }
</script>
<body>
    <div th:insert="fragments/header :: header" class="sticky-top"></div>
    <div class="separateContent">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-10 col-xl-9">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-3">Sign up</p>
                                    <div class="mb-5 justify-content-center d-flex">
                                        <div class="col-8 justify-content-center d-flex">
                                            <img class="img-fluid rounded-circle w-75" th:if="${account.img_path != null}" th:src="${account.img_path}" />
                                            <img class="img-fluid rounded-circle w-75" th:unless="${account.img_path != null}" th:src="@{/images/no-image.jpg}" />
                                        </div>
                                    </div>
                                    <form id="editAccountForm" class="mx-1 mx-md-4" th:action="@{/account/edit}" method="POST" onsubmit="return validSubmitEditAccountForm(this, 'all');">
                                        <!--Account ID-->
                                        <input type="hidden" class="form-control" id="accId" name="accId" th:value="${account.accId}">
                                        <!--Title-->
                                        <div class="input-group input-group mb-3">
                                            <span class="input-group-text">Title</span>
                                            <select class="form-select" id="title" name="title" aria-label="Default select example" autocomplete="off" onchange="validFormEditAccountByEachField(this)">
                                                <option th:value="dummy" th:text="Choose..."
                                                        th:selected="${#strings.contains(account.title, 'Choose...')}"/>
                                                <option th:value="Mr." th:text="Mr."
                                                        th:selected="${#strings.contains(account.title, 'Mr.')}"/>
                                                <option th:value="Mrs." th:text="Mrs."
                                                        th:selected="${#strings.contains(account.title, 'Mrs.')}"/>
                                                <option th:value="Ms." th:text="Ms."
                                                        th:selected="${#strings.contains(account.title, 'Ms.')}"/>
                                                <option th:value="Miss" th:text="Miss"
                                                        th:selected="${#strings.contains(account.title, 'Miss')}"/>
                                            </select>
                                        </div>
                                        <!--FirstName-->
                                        <div class="input-group input-group mb-3">
                                            <span class="input-group-text">First Name</span>
                                            <input type="text" class="form-control" id="firstName" name="firstName" th:value="${account.firstName}" autocomplete="off" onkeyup="validFormEditAccountByEachField(this)" onpaste="validFormEditAccountByEachField(this)">
                                        </div>

                                        <!--LastName-->
                                        <div class="input-group input-group mb-3">
                                            <span class="input-group-text">Last Name</span>
                                            <input type="text" class="form-control" id="lastName" name="lastName" th:value="${account.lastName}" autocomplete="off" onkeyup="validFormEditAccountByEachField(this)" onpaste="validFormEditAccountByEachField(this)">
                                        </div>

                                        <!--Address-->
                                        <div class="input-group input-group mb-3">
                                            <span class="input-group-text">Address</span>
                                            <input type="text" class="form-control" id="address" name="address" th:value="${account.address}" autocomplete="off" onkeyup="validFormEditAccountByEachField(this)" onpaste="validFormEditAccountByEachField(this)">
                                        </div>

                                        <!--Phone No.-->
                                        <div class="input-group input-group mb-3">
                                            <span class="input-group-text">Phone No.</span>
                                            <input type="text" class="form-control" id="phone" name="phone" maxlength="10" th:value="${account.phone}" autocomplete="off" onkeyup="validFormEditAccountByEachField(this)" onpaste="validFormEditAccountByEachField(this)">
                                        </div>

                                        <!--button-->
                                        <div class="modal-footer">
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>