<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bill</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/table-warehouse.css}">
    <link th:rel="stylesheet" th:href="@{/css/global.css}">
    <link th:rel="stylesheet" th:href="@{/css/circle-loading.css}">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--Table-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,300,1,0" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

    <script th:src="@{/js/confirmPopUp.js}"></script>
    <script th:src="@{/js/validateModel.js}"></script>
</head>
<script>
    let host = window.location.origin;
    const hide = "none";
    const show = "block";

    window.addEventListener('DOMContentLoaded', event => {
        const datatablesBillMedicine = document.getElementById('datatablesBillMedicine');
        new simpleDatatables.DataTable(datatablesBillMedicine);
        const datatablesBillTool = document.getElementById('datatablesBillTool');
        new simpleDatatables.DataTable(datatablesBillTool);
        const datatablesBillServing = document.getElementById('datatablesBillServing');
        new simpleDatatables.DataTable(datatablesBillServing);

        // const downloadLink = document.getElementById('dropdown-download-a5');
        // const loadingCircle = document.getElementById('loading-circle');
        // downloadLink.addEventListener('click', function() {
        //     // Show the loading circle
        //     loadingCircle.style.display = "inline-block";
        //
        //     // Hide the loading circle after 3 seconds
        //     setTimeout(function() {
        //         loadingCircle.style.display = hide;
        //     }, 3000);
        // });
    });

    // PaymentPopUp
    function displayRadioValue() {
        let radioValue = document.getElementsByName('payType');
        let cashOperation = document.getElementById('cashOperation');

        if (radioValue[0].checked){
            cashOperation.style.display = show;
        } else if (radioValue[1].checked){ // new tool
            cashOperation.style.display = hide;
        }

    }
    // PaymentPopUp
    function receiveKeyUp(billId) {
        let receive = document.getElementById('receive').value;
        let total = document.getElementById('total').value;
        let discount = document.getElementById('discount').value;
        if (realTimeCheckFormPayment){
            validSubmitPaymentPopUp(document.getElementById('paymentForm'+billId));
        }

        if (!discount){
            discount = 0;
        }

        console.log("total : "+total);
        console.log("receive : "+receive);
        console.log("discount : "+discount);
        if (receive === ""){
            console.log("receive is empty !!");
            document.getElementById("change").innerHTML = "0 ฿";
        }
        else{
            // pChange.style.display = show;
            let finalChange = receive - (total - discount);
            console.log("change : "+finalChange);

            let changeFormat = Intl.NumberFormat('th-TH', {  currency: 'THB',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2, }).format(finalChange);

            if (finalChange >= 0){
                document.getElementById("change").innerHTML = ""+changeFormat+" ฿";
            }
            else if(finalChange < 0) {
                document.getElementById("change").innerHTML = "0 ฿";
            }
            else {
                document.getElementById("change").innerHTML = "-1";
            }

        }
    }

    //PaymentPopUp
    function discountKeyUp(billId) {
        let total = document.getElementById('total').value;
        let oldTotal = document.getElementById('oldTotal');
        let netTotal = document.getElementById('netTotal');
        let discount = document.getElementById('discount').value;
        if (realTimeCheckFormPayment){
            validSubmitPaymentPopUp(document.getElementById('paymentForm'+billId));
        }

        oldTotal.style.display = hide;
        netTotal.style.display = show;

        console.log("total : "+total);
        console.log("discount : "+discount);

        let newTotal = total - discount;
        console.log("netTotal : "+newTotal);

        newTotal = Intl.NumberFormat('th-TH', {  currency: 'THB',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2, }).format(newTotal);

        document.getElementById("netTotal").innerHTML = ""+newTotal+" ฿";

    }

    //reset change to empty -> PaymentPopUp
    function clearChange() {
        let oldTotal = document.getElementById('oldTotal');
        let netTotal = document.getElementById('netTotal');

        document.getElementById("change").innerHTML = "";
        document.getElementById("discount").value = 0;

        oldTotal.style.display = show;
        netTotal.style.display = hide;

    }

    //AddMedToBill
    async function showDescription(fieldElement) {
        let newDescription = document.getElementById("newDescription");
        let descriptionPane = document.getElementById("descriptionPane");
        if (fieldElement.value !== "#"){
            let medID = document.getElementById('medID').value;
            const response= await fetch(host + '/medicine/'+medID);
            const data= await response.json();
            newDescription.value = data.description;
            descriptionPane.style.display = show;
        } else {
            descriptionPane.style.display = hide;
        }
        validFormAddMedToBillByEachField(newDescription);
        validFormAddMedToBillByEachField(fieldElement);
    }

    function setDisplay(elements, displayType) {
        elements.forEach((element) => {
            element.style.display = displayType;
        });
    }
</script>
<!--Payment Form-->
<script>
    let realTimeCheckFormPayment = false;

    function validSubmitPaymentPopUp(formPayment){
        realTimeCheckFormPayment = true;
        const validatedList = [];
        let validCount = 1;
        let discount = formPayment.discount.value;
        let total = formPayment.total.value;
        let receive = formPayment.receive.value;
        try {
            if (parseInt(discount) >= 0 && parseInt(discount) <= parseInt(total)){
                validatedList.push(new payloadValid("discount", "valid"))
            } else {
                validatedList.push(new payloadValid("discount", "invalid"))
            }
        } catch (e) {
            validatedList.push(new payloadValid("discount", "invalid"))
        }
        if (document.getElementById("cash").checked) {
            validCount = 2;
            try {
                if (parseInt(receive) >= parseInt(total)-parseInt(discount) && receive != ""){
                    validatedList.push(new payloadValid("receive", "valid"))
                } else {
                    validatedList.push(new payloadValid("receive", "invalid"))
                }
            } catch (e) {
                validatedList.push(new payloadValid("receive", "invalid"))
            }
        }
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(formPayment.elements[element.fieldId], element.errorMessage);
            });

            if (count === validCount){
                if (validCount == 1 && !document.getElementById("prompt").checked){
                    return false;
                }
                return true;
            }
        }
        return false;
    }
    function clearPaymentForm(){
        realTimeCheckFormPayment = false;
        let radioValue = document.getElementsByName('payType');
        radioValue[0].checked = false;
        radioValue[1].checked = false;
        let receive = document.getElementById('receive');
        receive.classList.remove("is-valid");
        receive.classList.remove("is-invalid");
        let total = document.getElementById('total');
        total.classList.remove("is-valid");
        total.classList.remove("is-invalid");
        let discount = document.getElementById('discount');
        discount.classList.remove("is-valid");
        discount.classList.remove("is-invalid");
        document.getElementById("netTotal").innerHTML = ""+total.value+" ฿";
        // Reset Radio Part
        let cashOperation = document.getElementById('cashOperation');
        cashOperation.style.display = hide;
        document.getElementById("change").innerHTML = "0 ฿";
    }
</script>
<!--Add med to bill-->
<script>
    let realTimeValid_formAddMedToBill = false;

    function validFormAddMedToBillByEachField(fieldElement){
        if (realTimeValid_formAddMedToBill){
            const thisForm = document.getElementById("addMedToBillForm")
            const validatedList =serviceValidAddMedToBill(thisForm, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(thisForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitAddMedToBillForm(thisForm, option){
        if (option === "reset"){
            let descriptionPane = document.getElementById("descriptionPane");
            descriptionPane.style.display = hide;
        }
        realTimeValid_formAddMedToBill = true;
        const validatedList = serviceValidAddMedToBill(thisForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(thisForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 3){
                return true;
            }
        }
        return false;
    }
</script>
<!--Add tool to bill-->
<script>
    let realTimeValid_formAddToolToBill = false;

    function validFormAddToolToBillByEachField(fieldElement){
        if (realTimeValid_formAddToolToBill){
            const thisForm = document.getElementById("addToolToBillForm")
            const validatedList = serviceValidAddToolToBill(thisForm, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(thisForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitAddToolToBillForm(thisForm, option){
        realTimeValid_formAddToolToBill = true;
        const validatedList = serviceValidAddToolToBill(thisForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(thisForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<!--Add service to bill-->
<script>
    let realTimeValid_formAddServiceToBill = false;

    function validFormAddServiceToBillByEachField(fieldElement){
        if (realTimeValid_formAddServiceToBill){
            const thisForm = document.getElementById("addServiceToBillForm")
            const validatedList = serviceValidAddServiceToBill(thisForm, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(thisForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitAddServiceToBillForm(thisForm, option){
        realTimeValid_formAddServiceToBill = true;
        const validatedList = serviceValidAddServiceToBill(thisForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(thisForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<!--Edit Bill Med Form-->
<script>
    let realTimeValid_formEditBillMed = false;

    function validFormEditBillMedFormByEachField(fieldId, fromId){
        if (realTimeValid_formEditBillMed){
            const thisForm = document.getElementById("editMedBillForm"+fromId)
            const validatedList = serviceValidAddMedToBill(thisForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(thisForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditBillMedForm(thisForm, option){
        realTimeValid_formEditBillMed= true;
        const validatedList = serviceValidAddMedToBill(thisForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(thisForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 3){
                return true;
            }
        }
        return false;
    }
</script>
<!--Edit Bill Tool Form-->
<script>
    // Edit Bill Tool Form
    let realTimeValid_formEditBillTool = false;

    function validFormEditBillToolFormByEachField(fieldId, fromId){
        console.log(realTimeValid_formEditBillTool);
        if (realTimeValid_formEditBillTool){
            const thisForm = document.getElementById("editToolBillForm"+fromId)
            const validatedList = serviceValidAddToolToBill(thisForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(thisForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditBillToolForm(thisForm, option){
        realTimeValid_formEditBillTool= true;
        const validatedList = serviceValidAddToolToBill(thisForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(thisForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<!--Edit Bill Service Form-->
<script>
    let realTimeValid_formEditBillService = false;

    function validFormEditBillServiceFormByEachField(fieldId, fromId){
        if (realTimeValid_formEditBillService){
            const thisForm = document.getElementById("editServiceBillForm"+fromId)
            const validatedList = serviceValidAddServiceToBill(thisForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(thisForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditBillServiceForm(thisForm, option){
        realTimeValid_formEditBillService= true;
        const validatedList = serviceValidAddServiceToBill(thisForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(thisForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<!--Edit Weight-->
<script>
    let realTimeValid_formReceiveTreatment = false;

    function validFormEditWeightByEachField(fieldElement){
        if (realTimeValid_formReceiveTreatment){
            const receiveTreatmentForm = document.getElementById("editWeightForm")
            const validatedList = serviceValidReceiveTreatment(receiveTreatmentForm, fieldElement.id);
            if (validatedList.length === 1){
                addClassValidAndInValid(receiveTreatmentForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitReceiveTreatmentForm(receiveTreatmentForm, option){
        realTimeValid_formReceiveTreatment = true;
        const validatedList = serviceValidReceiveTreatment(receiveTreatmentForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(receiveTreatmentForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 1){
                return true;
            }
        }
        return false;
    }
</script>
<style>

</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1 style="display:inline-block" class="mt-2">Bill's Details <span style="font-size: 0.75em;">( [[${#dates.format(bill.startDate, 'dd/MM/yyyy')}]] )</span></h1>
    <!-- Download For Customer-->
    <a th:if="${!nowAccount.isOfficer()}" class="btn btn-primary mb-2" role="button" target="_blank" style="display:inline-block" th:href="@{/download/export/receipt/detail/{billId}(billId=${bill.getBillID()})}">
        <i class="material-symbols-rounded align-middle me-1">download</i> PDF
    </a>
    <!-- Download For Officer/Admin-->
    <div th:if="${nowAccount.isOfficer() && bill.isPaidStatus()}" class="btn-group" style="display:inline-block">
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" style="display:inline-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-symbols-rounded align-middle">download</i> PDF
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" id="dropdown-download-a5" th:href="@{/download/export/receipt/detail/{billId}(billId=${bill.getBillID()})}" download>Short Form</a>
            <a class="dropdown-item" id="dropdown-download-a4" th:href="@{/download/export/receipt/details/{billId}(billId=${bill.getBillID()})}">Full Form</a>
        </div>
    </div>
    <div id="loading-circle" class="" style="display: none;">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="pb-4 mb-5" style="background-color: #EEF5E8;box-shadow: 5px 5px 10px #ababab;">
    <div class="m-3">
        <p class="pt-3" style="font-size: 1.2em;">
            <b>Customer's name : </b>
            <a th:href="@{'/account/getInfo/'+${pet.account.accId}}" id="owner">
               [[*{pet.account.getFullName()}]]
            </a>
            <span th:if="${bill.paidStatus == false}" class="float-end">
                <b>Total : </b> [[${#numbers.formatDecimal(sumBill, 1, 'COMMA', 2, 'POINT')}]] ฿
                <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal"
                        th:attr="data-bs-target='#paymentPopup'+*{bill.billID}">
                    Pay
                </button>
                <button th:if="${bill.total == 0 and nowAccount.isAdmin()}" type="button" class="btn btn-danger ms-1" data-bs-toggle="modal"
                        th:attr="data-bs-target='#deletePopUp'+*{bill.billID}">
                    Delete
                </button>
                <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Bill',mainPath='bill',deleteId=${bill.billID},deleteName='Bill ID '+${bill.billID},pathId=${bill.billID})">
                    modal
                </th:block>
            </span>
            <span th:if="${bill.paidStatus == true}" class="float-end">
                <b>Net Total : </b> [[${#numbers.formatDecimal((bill.total - bill.discount), 1, 'COMMA', 2, 'POINT')}]] ฿
                <button class="btn btn-secondary ms-3 opacity-25" disabled>
                    Paid
                </button>
<!--                [[${nowAccount.isAdmin()}]] [[${nowAccount.isOfficer()}]]-->
                <button th:if="${nowAccount.isAdmin()}" class="btn btn-secondary ms-1"  data-bs-toggle="modal"
                        th:attr="data-bs-target='#cancelBill'+*{bill.billID}">
                    Cancel
                </button>
            </span>
        </p>
        <!--Call Payment (PopUp)-->
        <th:block th:replace="bill/billPopUp/cancelBill :: cancelBill(${bill.billID},${bill.total}-${bill.discount})">modal</th:block>
        <!--Call Payment (PopUp)-->
        <th:block th:replace="bill/billPopUp/paymentPopup :: paymentPopup(${bill},${pet})">modal</th:block>

        <p style="font-size: 1.2em;">
            <b>Pet's name : </b>
            <span>
                <a th:href="@{'/treatmentHistory/pet'+${pet.petID}}" id="owner">
                    [[*{pet.name}]]
                </a>
            </span>
            <span th:if="${!#strings.isEmpty(pet.getRemark())}" class="material-symbols-rounded align-middle pb-1" style="color:#FFA600;">warning</span> [[*{pet.remark}]]</p>
        </p>
        <p style="font-size: 1.2em;">
            <b>Diagnosis : </b>
            <span th:if="${#strings.isEmpty(bill.treatmentHistory.diagnosis)}" class="text-secondary">
                <em>none</em>
            </span>
            <span th:if="${not #strings.isEmpty(bill.treatmentHistory.diagnosis)}">
                [[*{bill.treatmentHistory.diagnosis}]]
            </span>
            <a data-bs-toggle="modal" th:attr="data-bs-target='#editDiagnosis'">
                <span class="material-symbols-rounded align-middle"
                      style="color: #A6AB98"
                      onMouseOver="this.style.color='#76A001'"
                      onMouseOut="this.style.color='#A6AB98'">edit_note</span>
            </a>
        </p>
        <th:block th:replace="bill/billPopUp/editDiagnosis :: editDiagnosis(${bill.billID},${bill.treatmentHistory.diagnosis})">modal</th:block>
        <p style="font-size: 1.2em;">
            <b>Weight : </b>
            <span th:if="${bill.treatmentHistory.weight == -1}" class="text-secondary">
                <em>none</em>
            </span>
            <span th:if="${bill.treatmentHistory.weight != -1}">
                [[*{bill.treatmentHistory.weight}]] kg
            </span>
            <a data-bs-toggle="modal" th:attr="data-bs-target='#editWeight'">
                <span class="material-symbols-rounded align-middle"
                      style="color: #A6AB98"
                      onMouseOver="this.style.color='#76A001'"
                      onMouseOut="this.style.color='#A6AB98'">edit_note</span>
            </a>
        </p>
        <th:block th:replace="bill/billPopUp/editWeight :: editWeight(${bill.billID},${bill.treatmentHistory.weight})">modal</th:block>

        <p th:if="${bill.paidStatus == true}" style="font-size: 1.2em;">
            <b>Discount : </b>
            <span>
                [[${#numbers.formatDecimal(bill.discount, 1, 'COMMA', 2, 'POINT')}]] ฿
            </span>
            <span> | </span>
            <b>Total : </b>
            <span>
                [[${#numbers.formatDecimal(bill.total, 1, 'COMMA', 2, 'POINT')}]] ฿
            </span>
        </p>

        <hr class="w-100">

<!--   Bill Medicine     -->
        <p style="font-size: 1.2em;">
            <b>Medicine's Total : </b> [[${#numbers.formatDecimal(sumMed, 1, 'COMMA', 2, 'POINT')}]] ฿
            <span class="float-end">
                <button th:if="${bill.paidStatus == false}" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addMedToBill">
                    +Add Medicine
                </button>
            </span>
            <!--Call Add Medicine To Bill (PopUp)-->
            <th:block th:replace="bill/billPopUp/addMedToBill :: addMedToBill(${bill.billID},${medicines})">modal</th:block>
        </p>
        <div class="card mb-4 container">
            <div class="card-body">
                <table id="datatablesBillMedicine" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Dose</th>
                        <th>Unit</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th th:if="${bill.paidStatus == false}">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:each="med: ${medicineAmts}">
                            <td th:text="${med.medicine.name}"></td>
                            <td th:text="${med.medicine.dose}"></td>
                            <td th:text="${med.medicine.unit}"></td>
                            <td th:text="${med.description}"></td>
                            <td th:text="${med.amount}"></td>
                            <td th:text="${#numbers.formatDecimal(med.medicine.price, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(med.totalPrice, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:if="${bill.paidStatus == false}">
                                <div class="col-md-12 text-center">
                                    <div class="dropdown open">
                                        <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="material-symbols-rounded">more_vert</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="triggerId1">
                                            <a class="dropdown-item btn" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#editBillMed'+*{med.medicine.medID}">
                                                <span class="material-symbols-rounded align-middle">edit</span> Edit
                                            </a>
                                            <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#deleteItemPopUp'+*{med.medicine.medID}">
                                                <span class="material-symbols-rounded align-middle">delete</span> Delete
                                            </a>
                                        </div>
                                    </div>
                                    <th:block th:replace="bill/billPopUp/editBillMed :: editBillMed(${med.medicine},${med.amount},${med.description},${bill.billID})">
                                        modal
                                    </th:block>

                                    <th:block th:replace="bill/billPopUp/deleteItemPopUp :: deleteItemPopUp(header='Medicine',mainPath='billMedicine',deleteID=${med.medicine.medID},deleteName=${med.medicine.name},billID=${billID})">
                                        modal
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

<!--    Bill Tool    -->
        <p style="font-size: 1.2em;">
            <b>Tool's Total : </b> [[${#numbers.formatDecimal(sumTool, 1, 'COMMA', 2, 'POINT')}]] ฿
            <span class="float-end">
            <button th:if="${bill.paidStatus == false}" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addToolToBill">
                +Add Tool
            </button>
            </span>
            <!--Call Add Tool To Bill (PopUp)-->
            <th:block th:replace="bill/billPopUp/addToolToBill :: addToolToBill(${bill.billID},${tools})">modal</th:block>
        </p>
        <div class="card mb-4 container">
            <div class="card-body">
                <table id="datatablesBillTool" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th th:if="${bill.paidStatus == false}">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:each="tool : ${toolAmts}">
                        <tr>
                            <td>[[${tool.tool.name}]]</td>
                            <td>[[${tool.tool.description}]]</td>
                            <td>[[${tool.amount}]]</td>
                            <td>[[${#numbers.formatDecimal(tool.tool.price, 1, 'COMMA', 2, 'POINT')}]]</td>
                            <td>[[${#numbers.formatDecimal(tool.totalPrice, 1, 'COMMA', 2, 'POINT')}]]</td>
                            <td th:if="${bill.paidStatus == false}">
                                <div class="col-md-12 text-center">
                                    <div class="dropdown open">
                                        <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="material-symbols-rounded">more_vert</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="triggerId1">
                                            <a class="dropdown-item btn" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#editBillTool'+*{tool.tool.toolID}">
                                               <span class="material-symbols-rounded align-middle">edit</span> Edit
                                            </a>
                                            <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#deleteItemPopUp'+*{tool.tool.toolID}">
                                                <span class="material-symbols-rounded align-middle">delete</span> Delete
                                            </a>
                                        </div>
                                    </div>
                                    <th:block th:replace="bill/billPopUp/editBillTool :: editBillTool(${tool.tool},${tool.amount},${bill.billID})">
                                        modal
                                    </th:block>
                                    <th:block th:replace="bill/billPopUp/deleteItemPopUp :: deleteItemPopUp(header='Tool',mainPath='billTool',deleteID=${tool.tool.toolID},deleteName=${tool.tool.name},billID=${billID})">
                                        modal
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <!--    Bill Service    -->
        <p style="font-size: 1.2em;">
            <b>Service's Total : </b> [[${#numbers.formatDecimal(sumServing, 1, 'COMMA', 2, 'POINT')}]] ฿
            <span class="float-end">
            <button th:if="${bill.paidStatus == false}" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addServingToBill">
                +Add Service
            </button>
            </span>
            <!--Call Add Serving To Bill (PopUp)-->
            <th:block th:replace="bill/billPopUp/addServingToBill :: addServingToBill(${bill.billID},${servings})">modal</th:block>
        </p>
        <div class="card pe-4 container">
            <div class="card-body">
                <table id="datatablesBillServing" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th th:if="${bill.paidStatus == false}">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:each="serving : ${bill.serviceUsed}">
                        <tr>
                            <td>[[${serving.serving.name}]]</td>
                            <td>[[${serving.servingTotal}]]</td>
                            <td>[[${#numbers.formatDecimal(serving.serving.price, 1, 'COMMA', 2, 'POINT')}]]</td>
                            <td th:text="${#numbers.formatDecimal((serving.servingTotal*serving.serving.price), 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:if="${bill.paidStatus == false}">
                                <div class="col-md-12 text-center">
                                    <div class="dropdown open">
                                        <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="material-symbols-rounded">more_vert</span>

                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="triggerId1">
                                            <a class="dropdown-item btn" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#editBillServing'+*{serving.serving.servingID}">
                                                <span class="material-symbols-rounded align-middle">edit</span> Edit
                                            </a>
                                            <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#deleteItemPopUp'+*{serving.serving.servingID}">
                                                <span class="material-symbols-rounded align-middle">delete</span> Delete
                                            </a>
                                        </div>
                                    </div>
                                    <th:block th:replace="bill/billPopUp/editBillServing :: editBillServing(${serving.serving},${serving.servingTotal},${bill.billID})">
                                        modal
                                    </th:block>

                                    <th:block th:replace="bill/billPopUp/deleteItemPopUp :: deleteItemPopUp(header='Service',mainPath='billService',deleteID=${serving.serving.servingID},deleteName=${serving.serving.name},billID=${billID})">
                                        modal
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    </div>




</div>
</body>
</html>