<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bill</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/table-warehouse.css}">
    <link th:rel="stylesheet" th:href="@{/css/global.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        const datatablesBillMedicine = document.getElementById('datatablesBillMedicine');
        new simpleDatatables.DataTable(datatablesBillMedicine);
        const datatablesBillTool = document.getElementById('datatablesBillTool');
        new simpleDatatables.DataTable(datatablesBillTool);
        const datatablesBillServing = document.getElementById('datatablesBillServing');
        new simpleDatatables.DataTable(datatablesBillServing);
    });

    const hide = "none";
    const show = "block";

    function displayRadioValue() {
        let radioValue = document.getElementsByName('payType');
        let cashOperation = document.getElementById('cashOperation');

        if (radioValue[0].checked){
            cashOperation.style.display = show;
        } else if (radioValue[1].checked){ // new tool
            cashOperation.style.display = hide;
        }

    }

    function receiveKeyUp() {
        let receive = document.getElementById('receive').value;
        let total = document.getElementById('total').value;
        // let pChange = document.getElementById('pChange');

        console.log("total : "+total);
        console.log("receive : "+receive);
        if (receive === ""){
            console.log("receive is empty !!");
            document.getElementById("change").innerHTML = "";
        }
        else{
            // pChange.style.display = show;
            let finalChange = receive - total;
            console.log("change : "+finalChange);

            document.getElementById("change").innerHTML = ""+finalChange+" ฿";
        }
    }
    
    function showDescription(medicines) {
        // let medID = document.getElementById('medID').value;
        let description = document.getElementById('medID').value;
        console.log(description);
        // document.getElementById("description").innerHTML = ""+description;
    }

    //reset change to empty
    function clearChange() {
        document.getElementById("change").innerHTML = "";
    }


    function setDisplay(elements, displayType) {
        elements.forEach((element) => {
            element.style.display = displayType;
        });
    }

</script>

<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1>Bill's Details</h1>

    <div class="pb-4 mb-4" style="background-color: #EEF5E8">
    <div class="m-3">
        <p class="pt-3" style="font-size: 1.2em;">
            <b>Customer's name : </b>
            <a th:href="@{'/account/getInfo/'+${pet.account.accId}}" id="owner">
               [[*{pet.account.firstName}]] [[*{pet.account.lastName}]]
            </a>
            <span class="float-end">
                <b>Total : </b> [[${#numbers.formatDecimal(sumBill, 1, 'COMMA', 2, 'POINT')}]] baht
                <button type="button" th:if="${bill.paidStatus == false}" class="btn btn-primary ms-3" data-bs-toggle="modal"
                        th:attr="data-bs-target='#paymentPopup'+*{bill.billID}">
                    Pay
                </button>
                <button th:if="${bill.paidStatus == true}" class="btn btn-secondary ms-3" disabled>
                    Paid
                </button>
            </span>
        </p>
        <!--Call Payment (PopUp)-->
        <th:block th:replace="bill/billPopUp/paymentPopup :: paymentPopup(${bill},${pet})">modal</th:block>

        <p style="font-size: 1.2em;">
            <b>Pet's name : </b>
            <a th:href="@{'/treatmentHistory/pet'+${pet.petID}}" id="owner">
                [[*{pet.name}]]
            </a>
        </p>

        <hr class="w-100">

<!--   Bill Medicine     -->
        <p style="font-size: 1.2em;">
            <b>Medicine's Total : </b> [[${#numbers.formatDecimal(sumMed, 1, 'COMMA', 2, 'POINT')}]] baht
            <span class="float-end">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addMedToBill">
                    +Add Medicine
                </button>
            </span>
            <!--Call Add Medicine To Bill (PopUp)-->
            <th:block th:replace="bill/billPopUp/addMedToBill :: addMedToBill(${bill.billID},${medicines})">modal</th:block>
        </p>
        <div class="card mb-4 container">
            <div class="card-body">
                <table id="datatablesBillMedicine" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Dose</th>
                        <th>Unit</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:each="med: ${medicineAmts}">
                            <td th:text="${med.medicine.name}"></td>
                            <td th:text="${med.medicine.dose}"></td>
                            <td th:text="${med.medicine.unit}"></td>
                            <td th:text="${med.medicine.description}"></td>
                            <td th:text="${med.amount}"></td>
                            <td th:text="${med.medicine.price}"></td>
                            <td th:text="${med.totalPrice}"></td>
                            <td>
                                <div class="dropdown open">
                                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                                        <a class="dropdown-item btn" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#editBillMed'+*{med.medicine.medID}">
                                            <i class="fa fa-pencil mr-1"></i> Edit
                                        </a>
                                        <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#deleteItemPopUp'+*{med.medicine.medID}">
                                            <i class="fa fa-trash mr-1"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <th:block th:replace="bill/billPopUp/editBillMed :: editBillMed(${med.medicine},${med.amount},${bill.billID})">
                                    modal
                                </th:block>

                                <th:block th:replace="bill/billPopUp/deleteItemPopUp :: deleteItemPopUp(header='Medicine',mainPath='billMedicine',deleteID=${med.medicine.medID},deleteName=${med.medicine.name},billID=${billID})">
                                    modal
                                </th:block>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

<!--    Bill Tool    -->
        <p style="font-size: 1.2em;">
            <b>Tool's Total : </b> [[${#numbers.formatDecimal(sumTool, 1, 'COMMA', 2, 'POINT')}]] baht
            <span class="float-end">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addToolToBill">
                +Add Tool
            </button>
            </span>
            <!--Call Add Tool To Bill (PopUp)-->
            <th:block th:replace="bill/billPopUp/addToolToBill :: addToolToBill(${bill.billID},${tools})">modal</th:block>
        </p>
        <div class="card mb-4 container">
            <div class="card-body">
                <table id="datatablesBillTool" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:each="tool : ${toolAmts}">
                        <tr>
                            <td>[[${tool.tool.name}]]</td>
                            <td>[[${tool.tool.description}]]</td>
                            <td>[[${tool.amount}]]</td>
                            <td>[[${tool.tool.price}]]</td>
                            <td th:text="${tool.totalPrice}"></td>
                            <td>
                                <div class="dropdown open">
                                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                                        <a class="dropdown-item btn" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#editBillTool'+*{tool.tool.toolID}">
                                            <i class="fa fa-pencil mr-1"></i> Edit
                                        </a>
                                        <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#deleteItemPopUp'+*{tool.tool.toolID}">
                                            <i class="fa fa-trash mr-1"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <th:block th:replace="bill/billPopUp/editBillTool :: editBillTool(${tool.tool},${tool.amount},${bill.billID})">
                                    modal
                                </th:block>
                                <th:block th:replace="bill/billPopUp/deleteItemPopUp :: deleteItemPopUp(header='Tool',mainPath='billTool',deleteID=${tool.tool.toolID},deleteName=${tool.tool.name},billID=${billID})">
                                    modal
                                </th:block>

                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <!--    Bill Service    -->
        <p style="font-size: 1.2em;">
            <b>Service's Total : </b> [[${#numbers.formatDecimal(sumServing, 1, 'COMMA', 2, 'POINT')}]] baht
            <span class="float-end">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addServingToBill">
                +Add Service
            </button>
            </span>
            <!--Call Add Serving To Bill (PopUp)-->
            <th:block th:replace="bill/billPopUp/addServingToBill :: addServingToBill(${bill.billID},${servings})">modal</th:block>
        </p>
        <div class="card pe-4 container">
            <div class="card-body">
                <table id="datatablesBillServing" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:each="serving : ${bill.serviceUsed}">
                        <tr>
                            <td>[[${serving.serving.name}]]</td>
                            <td>[[${serving.servingTotal}]]</td>
                            <td>[[${serving.serving.price}]]</td>
                            <td th:text="${serving.servingTotal}*${serving.serving.price}"></td>
                            <td>
                                <div class="dropdown open">
                                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                                        <a class="dropdown-item btn" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#editBillServing'+*{serving.serving.servingID}">
                                            <i class="fa fa-pencil mr-1"></i> Edit
                                        </a>
                                        <a class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#deleteItemPopUp'+*{serving.serving.servingID}">
                                            <i class="fa fa-trash mr-1"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <th:block th:replace="bill/billPopUp/editBillServing :: editBillServing(${serving.serving},${serving.servingTotal},${bill.billID})">
                                    modal
                                </th:block>

                                <th:block th:replace="bill/billPopUp/deleteItemPopUp :: deleteItemPopUp(header='Service',mainPath='billService',deleteID=${serving.serving.servingID},deleteName=${serving.serving.name},billID=${billID})">
                                    modal
                                </th:block>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    </div>




</div>
</body>
</html>