<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/table-warehouse.css}">
    <link th:rel="stylesheet" th:href="@{/css/global.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,300,1,0" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/validateModel.js}"></script>
    <script th:src="@{/js/confirmPopUp.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
</head>
<script>
        let host = window.location.origin;
        const hide = "none";
        const show = "block";
        window.addEventListener('DOMContentLoaded', event => {
            const datatablesQueue = document.getElementById('queueTable');
            new simpleDatatables.DataTable(datatablesQueue,{
                paging:false,
                scrollY: "calc(76vh - 100px)",
                scrollX:true,
            });

            const appointmentTable = document.getElementById('appointmentTable');
            new simpleDatatables.DataTable(appointmentTable,{
                paging:false,
                scrollY: "calc(35vh - 100px)",
                scrollX:true,
            });

            const billTable = document.getElementById('billTable');
            new simpleDatatables.DataTable(billTable,{
                paging:false,
                scrollY: "calc(35vh - 100px)",
                scrollX:true,
            });


    });
</script>
<!--Edit order form-->
<script>
    let realTimeValid_formEditOrder = false;

    function validFormEditOrderByEachField(fieldId, fromId){
        if (realTimeValid_formEditOrder){
            console.log(fieldId + fromId);
            const editOrderForm = document.getElementById("editOrderForm"+fromId)
            const validatedList = serviceValidEditWarehouseOrder(editOrderForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(editOrderForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditOrderWarehouseForm(editOrderForm, option){
        realTimeValid_formEditOrder= true;
        const validatedList = serviceValidEditWarehouseOrder(editOrderForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(editOrderForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 6){
                return true;
            }
        }
        return false;
    }
</script>
<!--edit Appointment-->
<script>
    let realTimeValid_formEditAppointment = false;

    function validFormEditAppointmentByEachField(fieldId, fromId){
        if (realTimeValid_formEditAppointment){
            console.log(fieldId + fromId);
            const newAppointmentForm = document.getElementById("editAppointmentForm"+fromId)
            const validatedList = serviceValidNewAppointment(newAppointmentForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(newAppointmentForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitEditAppointmentForm(editAppointmentForm, option){
        realTimeValid_formEditAppointment = true;
        const validatedList = serviceValidNewAppointment(editAppointmentForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(editAppointmentForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 2){
                return true;
            }
        }
        return false;
    }
</script>
<!--Receive Treatment-->
<script>
    let realTimeValid_formReceiveTreatment = false;

    function validFormReceiveTreatmentByEachField(fieldId, fromId){
        if (realTimeValid_formReceiveTreatment){
            const receiveTreatmentForm = document.getElementById("receiveTreatForm"+fromId)
            const validatedList = serviceValidReceiveTreatment(receiveTreatmentForm, fieldId);
            if (validatedList.length === 1){
                addClassValidAndInValid(receiveTreatmentForm.elements[validatedList[0].fieldId], validatedList[0].errorMessage);
            }
        }
    }

    function validSubmitReceiveTreatmentForm(receiveTreatmentForm, option){
        realTimeValid_formReceiveTreatment = true;
        const validatedList = serviceValidReceiveTreatment(receiveTreatmentForm, option);
        let count = 0;
        if (validatedList.length > 0){
            validatedList.forEach((element) => {
                if (element.errorMessage === "valid"){
                    count++;
                }
                addClassValidAndInValid(receiveTreatmentForm.elements[element.fieldId], element.errorMessage);
            });
            if (count === 4){
                return true;
            }
        }
        return false;
    }
</script>
<style>
    .opacitySoft{
        opacity: 0.5;
    }
</style>
<style>
    .opacitySoft{
        opacity: 0.5;
    }
</style>
<body>
    <div th:insert="fragments/header :: header"></div>

    <!--<h1 class="ms-4 mt-3">Welcome to Veterinary Clinic Website</h1>-->
<!--    <h1 class="ms-5 mt-3 mb-2">Welcome to Veterinary Clinic Website</h1>-->
    <div class="mt-5">
        <div class="row me-0">
            <div class="col-6 ms-5 me-5">
                <div class="row">
                    <div id="tablePane" class="col-12 rounded-2 pt-3 pb-1">
                        <h3 class="mb-0 float-start pt-2">
                            <a th:href="@{'/appointment/today'}" id="owner">
                                <span class="material-symbols-rounded align-middle pb-1">event_available</span>
                                <span class="pt-3">Today's Appointment</span>
                            </a>
                            <span style="font-weight: 300;font-size: 0.75em">([[${appointments.size()}]] case<span th:if="${appointments.size() >1}">s</span>)</span>
                        </h3>
                        <table id="appointmentTable" class="table">
                            <thead>
                            <tr>
                                <th>Owner</th>
                                <th>Pet's Name</th>
                                <th>Phone no.</th>
                                <th>Period</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody th:if="${not #lists.isEmpty(appointments)}">
                            <div th:each="app : ${appointments}">
                                <tr>
                                    <td>
                                        <a th:href="@{'/account/getInfo/'+${app.pet.account.accId}}" id="owner">
                                            <p th:class="${app.status ? 'opacitySoft' : ''}" style="text-align: left">
                                                [[${app.pet.account.firstName}]]
                                                <img th:if="${app.pet.account.lineId != null}" th:src="@{/images/line.png}" width="15" class="align-top"/>
                                            </p>
                                        </a>
                                    </td>
                                    <td>
                                        <p th:text="${app.pet.name}" th:class="${app.status ? 'opacitySoft' : ''}" style="text-align: left"/>
                                    </td>
                                    <td>
                                        <p th:text="${app.pet.account.phone}" th:class="${app.status ? 'opacitySoft' : ''}" style="text-align: left"/>
                                    </td>
                                    <td>
                                        <p th:if="${#strings.contains(app.period, 'morning')}" th:text="'09.00 - 12.00'" th:class="${app.status ? 'opacitySoft' : ''}" style="text-align: left"/>
                                        <p th:if="${#strings.contains(app.period, 'afternoon')}" th:text="'13.30 - 18.00'" th:class="${app.status ? 'opacitySoft' : ''}" style="text-align: left"/>
                                    </td>
                                    <td>
                                        <p th:text="${app.description}" th:class="${app.status ? 'opacitySoft' : ''}" style="text-align: left"/>
                                    </td>
                                    <td>
                                        <div class="col-md-12 text-center">
                                            <div class="dropdown open">
                                                <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <span class="material-symbols-rounded">more_vert</span>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                                    <a th:if="${!app.status}" class="dropdown-item btn" data-bs-toggle="modal"
                                                       th:attr="data-bs-target='#receiveTreatmentPopUp'+*{app.pet.petID}+*{app.getAppointmentID()}">
                                                        <span class="material-symbols-rounded align-middle pb-1">vaccines</span> Receive Treatment
                                                    </a>
                                                    <a th:if="${!app.status}" class="dropdown-item btn" data-bs-toggle="modal"
                                                       th:attr="data-bs-target='#editAppointment'+${app.appointmentID}">
                                                        <span class="material-symbols-rounded align-middle pb-1">edit</span> Edit
                                                    </a>
<!--                                                    <a th:if="${app.status}" class="dropdown-item text-danger" data-bs-toggle="modal" th:attr="data-bs-target='#restorePopUp'+*{app.getAppointmentID()}">-->
<!--                                                        <i class="material-symbols-rounded align-middle">settings_backup_restore</i> Restore-->
<!--                                                    </a>-->
                                                    <a th:if="${!app.status && nowAccount.isAdmin()}" class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                                       th:attr="data-bs-target='#deletePopUpA'+${app.appointmentID}">
                                                        <span class="material-symbols-rounded align-middle pb-1">delete</span> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Call Receive Treatment (PopUp)-->
                                        <th:block th:replace="treatmentHistory/treatmentHistoryPopUp/receiveTreatmentPopUp :: receiveTreatmentPopUp(${app.pet},${app.getAppointmentID()})">modal</th:block>
                                        <!--Call Restore Appointment (PopUp)-->
                                        <th:block th:replace="appointment/appointmentPopUp/restorePopUp :: restorePopUp(appointmentId=${app.getAppointmentID()}, stockName='Appointment ID : '+${app.getAppointmentID()}, from='dashboard')">modal</th:block>
                                        <!--Call Edit Appointment (PopUp)-->
                                        <th:block th:replace="appointment/appointmentPopUp/editAppointment :: editAppointment(${app},'dashboard')">modal</th:block>
                                        <!--Delete Appointment (PopUp)-->
                                        <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Appointment ('+${app.pet.name}+')',mainPath='appointment',deleteId='A'+${app.appointmentID},deleteName='this appointment',pathId='dashboard')">modal</th:block>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                    <div id="tablePane" class="col-12 mt-4 rounded-2 pt-3" style="background-color: white;">
                        <h3 class="mb-0 float-start pt-2">
                            <a th:href="@{'/bill/unpaid'}" id="owner">
                                <span class="material-symbols-rounded align-middle pb-1">receipt_long</span>
                                <span class="pt-3">Unpaid Bills</span>
                            </a>
                            <span style="font-weight: 300;font-size: 0.75em">([[${billsUnpaid.size()}]] bill<span th:if="${billsUnpaid.size() >1}">s</span>)</span>
                        </h3>
                        <table id="billTable" class="table">
                            <thead>
                            <tr>
                                <th>Bill ID</th>
                                <th>Owner</th>
                                <th>Pet's Name</th>
                                <th>Phone no.</th>
                                <th data-type="date" data-format="DD/MM/YYYY">Start Date</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody th:if="${not #lists.isEmpty(billsUnpaid)}">
                            <div th:each="bill : ${billsUnpaid}">
                                <tr>
                                    <td>#[[*{bill.billID}]]</td>

                                    <td>
                                        <a th:href="@{'/account/getInfo/'+${bill.treatmentHistory.pet.account.getAccId()}}" id="owner">
                                            <p style="text-align: left">
                                                [[${bill.treatmentHistory.pet.account.firstName}]]
                                                <img th:if="${bill.treatmentHistory.pet.account.getLineId() != null}" th:src="@{/images/line.png}" width="15" class="align-top"/>
                                            </p>
                                        </a>
                                    </td>
                                    <td>[[*{bill.treatmentHistory.pet.name}]]</td>
                                    <td>[[*{bill.treatmentHistory.pet.account.phone}]]</td>
                                    <td>[[${#dates.format(bill.startDate, 'dd/MM/yyyy')}]]</td>
                                    <td><p style="text-align: right">[[${#numbers.formatDecimal(bill.total, 1, 'COMMA', 2, 'POINT')}]]</p></td>
                                    <td>
                                        <div class="col-md-12 text-center">
                                            <div class="dropdown open">
                                                <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <span class="material-symbols-rounded">more_vert</span>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                                    <a class="dropdown-item btn" th:href="@{'/bill/getDetail/'+${bill.billID}}">
                                                        <span class="material-symbols-rounded align-middle pb-1">receipt_long</span> Bill's Details
                                                    </a>
                                                    <a th:if="${bill.total == 0 && bill.paidStatus == false && nowAccount.isAdmin()}" class="dropdown-item text-danger btn" data-bs-toggle="modal"
                                                       th:attr="data-bs-target='#deletePopUp'+*{bill.billID}">
                                                        <span class="material-symbols-rounded align-middle pb-1">delete</span> Delete
                                                    </a>
                                                </div>
                                                <th:block th:replace="globalTemp/deletePopUp :: deletePopUp(header='Bill',mainPath='bill',deleteId=${bill.billID},deleteName='Bill ID '+${bill.billID},pathId='dashboard')">
                                                    modal
                                                </th:block>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-5 me-0">
                <div class="row ">
                    <div id="tablePane" class="col-12 rounded-2 pt-3" style="background-color: white;">
                        <h3 class="mb-0 float-start pt-2">
                            <span class="material-symbols-rounded align-middle pb-1">hourglass_top</span>Queue Now
                            <span style="font-weight: 300;font-size: 0.75em">([[${billsQueue.size()}]] queue<span th:if="${billsQueue.size() >1}">s</span>)</span>
                        </h3>
                        <table id="queueTable" class="table">
                            <thead>
                            <tr>
                                <th>Bill ID</th>
                                <th>Owner</th>
                                <th>Pet's Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bill : ${billsQueue}">
                                <td th:text="${ '#' + bill.getBillID()}"></td>
<!--                                <td th:text="${ bill.getTreatmentHistory().getPet().getAccount().getFullName()}"></td>-->
                                <td>
                                    <a th:href="@{'/account/getInfo/'+${bill.getTreatmentHistory().getPet().getAccount().getAccId()}}" id="owner">
                                        <p th:class="${bill.queueStatus ? 'opacitySoft' : ''}" style="text-align: left">
                                            [[${bill.getTreatmentHistory().getPet().getAccount().firstName}]]
                                            <img th:if="${bill.getTreatmentHistory().getPet().getAccount().lineId != null}" th:src="@{/images/line.png}" width="15" class="align-top"/>
                                        </p>
                                    </a>
                                </td>
                                <td th:class="${bill.queueStatus ? 'opacitySoft' : ''}" th:text="${ bill.getTreatmentHistory().getPet().getName()}"></td>
                                <td th:class="${bill.queueStatus ? 'opacitySoft' : ''}" th:switch="${bill.appointmentStatus}">
                                    <span th:case='true' th:text="Reserved" class="badge rounded-pill bg-success" style="text-align: center"/>
                                    <span th:case='false' th:text="Walk-In" class="badge rounded-pill bg-secondary" style="text-align: center"/>
                                </td>
                                <td>
                                    <div class="col-md-12 text-center">
                                        <a class="btn btn-sm btn-outline-primary ms-3 me-3" role="button" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#queueInPopUp'+*{bill.billID}">
                                            Get In
                                        </a>
                                    </div>
                                </td>
                                <th:block th:replace="bill/billPopUp/queueInPopUp :: queueInPopUp(billID=${bill.billID}, bill=${bill})">modal</th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>