<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<style>
#allWH {
  border-collapse: collapse;
  width: 75%;
}
#allWH td, #allWH th {
  border: 1px solid #ddd;
  padding: 8px;
}

#allWH tr:nth-child(even){background-color: #f2f2f2;}

#allWH tr:hover {background-color: #ddd;}

#allWH th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

    <h1>All warehouses</h1>

<!--    <table id="allWH">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>MedID</th>-->
<!--            <th>ToolID</th>-->
<!--            <th>Name</th>-->
<!--            <th>Type</th>-->
<!--            <th>Paid Total</th>-->
<!--            <th>Amount</th>-->
<!--            <th>Stock In</th>-->
<!--            <th>Expired Date</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--            <tr th:each="wh : ${warehouses}">-->
<!--                <td th:text="${wh.itemID}"></td>-->

<!--                &lt;!&ndash;                <td th:if="${wh.medicine != null}" th:each="med : ${wh.medicine}" th:text="${med.getMedID}"></td>&ndash;&gt;-->
<!--                <td th:switch="${wh.medicine}">-->
<!--                    <p th:case="null">-</p>-->
<!--                    <p th:case="*" th:each="med : ${wh.medicine}" th:text="${med.getMedID}"></p>-->
<!--                </td>-->

<!--                &lt;!&ndash;                <td th:if="${wh.tool != null}" th:each="tool : ${wh.tool}" th:text="${tool.getToolID}"></td>&ndash;&gt;-->
<!--                <td th:switch="${wh.tool}">-->
<!--                    <p th:case="null">-</p>-->
<!--                    <p th:case="*" th:each="tool : ${wh.tool}" th:text="${tool.getToolID}"></p>-->
<!--                </td>-->

<!--                <td th:if="${wh.medicine != null}" th:each="med : ${wh.medicine}" th:text="${med.getName}"></td>-->
<!--                <td th:if="${wh.tool != null}" th:each="tool : ${wh.tool}" th:text="${tool.getName}"></td>-->

<!--                <td th:text="${wh.type}"></td>-->
<!--                <td th:text="${wh.paidTotal}"></td>-->
<!--                <td th:text="${wh.amount}"></td>-->
<!--                <td th:text="${wh.createdDate}"></td>-->
<!--                <td th:text="${wh.expiredDate}"></td>-->




<!--            </tr>-->



<!--        </tbody>-->
<!--    </table>-->

</html>