<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="deletePopUp(header,mainPath,deleteId,deleteName,pathId)" th:id="'deletePopUp'+${deleteId}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog"
     data-bs-backdrop="static" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete [[*{header}]]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/'+${mainPath}+'/delete'}" method="POST">
                    <!--ID-->
                    <input type="hidden" class="form-control" id="id" name="id" th:value="${deleteId}">
                    <input type="hidden" class="form-control" id="pathId" name="pathId" th:value="${pathId}">

                    <p class="text-start">Are you sure you want to delete
                        <b>[[*{deleteName}]]</b> ?
                    </p>
                    <!--button-->
                    <div class="modal-footer">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>