<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<body>
<!--Create Pet (PopUp)-->
<div th:fragment="createAppointment(pet)" th:id="'createAppointment'+${pet.petID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'createAppointmentHeader'+${pet.petID}">Create Appointment ([[*{pet.name}]])</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/appointment/create}" method="POST" enctype="multipart/form-data" th:id="'createAppointmentForm'+${pet.petID}">

                    <div th:id="'createAppointmentPane'+${pet.petID}">
                    <!--Account ID-->
                    <input type="hidden" class="form-control" id="petID" name="petID" th:value="${pet.petID}">
                        <input type="hidden" class="form-control" id="name" name="name" th:value="${pet.name}">

                    <!--Appointment-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Appointment Date</span>
                        <input type="date" class="form-control" id="appDate" name="appDate"
                               autocomplete="off"
                               th:onkeyup="'javascript:validFormNewAppointmentByEachField(\'' + 'appDate' +'\',\''+ ${pet.petID} + '\');'"
                               th:onchange="'javascript:validFormNewAppointmentByEachField(\'' + 'appDate' +'\',\''+ ${pet.petID} + '\');'"
                               th:onpaste="'javascript:validFormNewAppointmentByEachField(\'' + 'appDate' +'\',\''+ ${pet.petID} + '\');'">
                    </div>

                    <!--Period-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Period</span>
                        <select class="form-select" id="period" name="period"
                                th:onchange="'javascript:validFormNewAppointmentByEachField(\'' + 'period' +'\',\''+ ${pet.petID} + '\');'">
                            <option selected>-------- Choose --------</option>
                            <option value="morning">09.00 - 12.00</option>
                            <option value="afternoon">13.30 - 18.00</option>
                        </select>
                    </div>

                    <!--Description-->
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>


                    <!--button-->
                    <div class="modal-footer">
                        <div class="col-md-12 text-center">
                            <button th:attr="onclick='clickCreateAppointment(\'' + ${pet.petID} + '\');'" class="btn btn-primary" type="button">save</button>
                            <button class="btn btn-secondary" type="reset">clear</button>
                        </div>
                    </div>
                    </div>

                    <div th:id="'createAppointmentConfirm'+${pet.petID}" style="display: none">
                        <p class="text-start">Are you sure you want to create appointment ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button th:attr="onclick='clickCreateAppointmentNo(\'' + ${pet.petID} + '\');'" type="reset" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

</body>

</html>