<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="receiveTreatmentPopUp(pet,appointmentId)" th:id="'receiveTreatmentPopUp'+${pet.petID}" class="modal fade modal-dialog-scrollable" tabindex="-1" role="dialog"
     data-bs-backdrop="static" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="'receiveTreatHeader'+${pet.petID}">Receive Treatment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        th:attr="onclick='clickReceiveTreatNo(\'' + ${pet.petID} +  '\');'"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/treatmentHistory/receive/treatment'}" method="POST" th:id="'receiveTreatForm'+${pet.petID}">
                    <div th:id="'receiveTreatPane'+${pet.petID}">
                        <!--ID-->
                        <input type="hidden" class="form-control" id="petID" name="petID" th:value="${pet.petID}">
                        <input type="hidden" class="form-control" id="appointmentId" name="appointmentId" th:value="${appointmentId}">
    <!--                    <p>Are you sure <b>[[${pet.name}]]</b> want to receive treatment ?</p>-->

                        <div class="input-group input-group mb-3">
                            <span class="input-group-text">Weight</span>
                            <input type="number" class="form-control" id="weight" name="weight" value=0 min=0 required>
                            <div class="input-group-prepend">
                                <div class="input-group-text">kg</div>
                            </div>
                        </div>
                        <!--button-->
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button th:attr="onclick='clickReceiveTreat(\'' + ${pet.petID} +  '\');'" class="btn btn-primary" type="button">Save</button>
                                <button class="btn btn-secondary" type="reset" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            </div>
                        </div>
                    </div>
                    <div th:id="'receiveTreatConfirm'+${pet.petID}" style="display: none" class="text-start">
                        <p>Are you sure <b>[[${pet.name}]]</b> need to receive treatment ?</p>
                        <div class="modal-footer">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button th:attr="onclick='clickReceiveTreatNo(\'' + ${pet.petID} +  '\');'" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>